header.header
    .header__content.content 
        .header__left
            .header__logo
                a(href="./index.html")
                    .logo_full
                        img(src="../../assets/images/svg/bigben_logo.svg" alt="logo")
            .header__phone 
                a(href="tel:+380731263310")
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.6466 12.22C14.6466 12.46 14.5933 12.7066 14.4799 12.9466C14.3666 13.1866 14.2199 13.4133 14.0266 13.6266C13.6999 13.9866 13.3399 14.2466 12.9333 14.4133C12.5333 14.58 12.0999 14.6666 11.6333 14.6666C10.9533 14.6666 10.2266 14.5066 9.45992 14.18C8.69325 13.8533 7.92659 13.4133 7.16659 12.86C6.39992 12.3 5.67325 11.68 4.97992 10.9933C4.29325 10.3 3.67325 9.57331 3.11992 8.81331C2.57325 8.05331 2.13325 7.29331 1.81325 6.53998C1.49325 5.77998 1.33325 5.05331 1.33325 4.35998C1.33325 3.90665 1.41325 3.47331 1.57325 3.07331C1.73325 2.66665 1.98659 2.29331 2.33992 1.95998C2.76659 1.53998 3.23325 1.33331 3.72659 1.33331C3.91325 1.33331 4.09992 1.37331 4.26659 1.45331C4.43992 1.53331 4.59325 1.65331 4.71325 1.82665L6.25992 4.00665C6.37992 4.17331 6.46659 4.32665 6.52659 4.47331C6.58659 4.61331 6.61992 4.75331 6.61992 4.87998C6.61992 5.03998 6.57325 5.19998 6.47992 5.35331C6.39325 5.50665 6.26659 5.66665 6.10659 5.82665L5.59992 6.35331C5.52659 6.42665 5.49325 6.51331 5.49325 6.61998C5.49325 6.67331 5.49992 6.71998 5.51325 6.77331C5.53325 6.82665 5.55325 6.86665 5.56659 6.90665C5.68659 7.12665 5.89325 7.41331 6.18659 7.75998C6.48659 8.10665 6.80659 8.45998 7.15325 8.81331C7.51325 9.16665 7.85992 9.49331 8.21325 9.79331C8.55992 10.0866 8.84659 10.2866 9.07325 10.4066C9.10659 10.42 9.14659 10.44 9.19325 10.46C9.24659 10.48 9.29992 10.4866 9.35992 10.4866C9.47325 10.4866 9.55992 10.4466 9.63325 10.3733L10.1399 9.87331C10.3066 9.70665 10.4666 9.57998 10.6199 9.49998C10.7733 9.40665 10.9266 9.35998 11.0933 9.35998C11.2199 9.35998 11.3533 9.38665 11.4999 9.44665C11.6466 9.50665 11.7999 9.59331 11.9666 9.70665L14.1733 11.2733C14.3466 11.3933 14.4666 11.5333 14.5399 11.7C14.6066 11.8666 14.6466 12.0333 14.6466 12.22Z" stroke="#ffff" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
        .header__center 
            ul 
                li(class="active" data-scroll-to="#planning"): div: span Квартири
                li(data-scroll-to="#about"): div: span Про Проєкт
                li(data-scroll-to="#benefits"): div: span Переваги
                li(data-scroll-to="#characteristics"): div: span Характеристики
                //- li(data-scroll-to="#construction"): div: span Хід будівництва
                li(data-scroll-to="#parking"): div: span Паркінг
                li(data-scroll-to="#gallery"): div: span Галерея
                //- li(data-scroll-to="#discount"): div: span Акції та новини
                li(data-scroll-to="#doc"): div: span  Документи
                li(data-scroll-to="#developer"): div: span Про забудовника
            .header__logo
                a(href="./index.html")
                    .logo_full
                        img(src="../../assets/images/svg/bigben_logo.svg" alt="logo")
        .header__right
            .header__phone 
                a(href="tel:+380731263310")
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.6466 12.22C14.6466 12.46 14.5933 12.7066 14.4799 12.9466C14.3666 13.1866 14.2199 13.4133 14.0266 13.6266C13.6999 13.9866 13.3399 14.2466 12.9333 14.4133C12.5333 14.58 12.0999 14.6666 11.6333 14.6666C10.9533 14.6666 10.2266 14.5066 9.45992 14.18C8.69325 13.8533 7.92659 13.4133 7.16659 12.86C6.39992 12.3 5.67325 11.68 4.97992 10.9933C4.29325 10.3 3.67325 9.57331 3.11992 8.81331C2.57325 8.05331 2.13325 7.29331 1.81325 6.53998C1.49325 5.77998 1.33325 5.05331 1.33325 4.35998C1.33325 3.90665 1.41325 3.47331 1.57325 3.07331C1.73325 2.66665 1.98659 2.29331 2.33992 1.95998C2.76659 1.53998 3.23325 1.33331 3.72659 1.33331C3.91325 1.33331 4.09992 1.37331 4.26659 1.45331C4.43992 1.53331 4.59325 1.65331 4.71325 1.82665L6.25992 4.00665C6.37992 4.17331 6.46659 4.32665 6.52659 4.47331C6.58659 4.61331 6.61992 4.75331 6.61992 4.87998C6.61992 5.03998 6.57325 5.19998 6.47992 5.35331C6.39325 5.50665 6.26659 5.66665 6.10659 5.82665L5.59992 6.35331C5.52659 6.42665 5.49325 6.51331 5.49325 6.61998C5.49325 6.67331 5.49992 6.71998 5.51325 6.77331C5.53325 6.82665 5.55325 6.86665 5.56659 6.90665C5.68659 7.12665 5.89325 7.41331 6.18659 7.75998C6.48659 8.10665 6.80659 8.45998 7.15325 8.81331C7.51325 9.16665 7.85992 9.49331 8.21325 9.79331C8.55992 10.0866 8.84659 10.2866 9.07325 10.4066C9.10659 10.42 9.14659 10.44 9.19325 10.46C9.24659 10.48 9.29992 10.4866 9.35992 10.4866C9.47325 10.4866 9.55992 10.4466 9.63325 10.3733L10.1399 9.87331C10.3066 9.70665 10.4666 9.57998 10.6199 9.49998C10.7733 9.40665 10.9266 9.35998 11.0933 9.35998C11.2199 9.35998 11.3533 9.38665 11.4999 9.44665C11.6466 9.50665 11.7999 9.59331 11.9666 9.70665L14.1733 11.2733C14.3466 11.3933 14.4666 11.5333 14.5399 11.7C14.6066 11.8666 14.6466 12.0333 14.6466 12.22Z" stroke="#EE1E04" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>
                    span +380731263310
            .header__call_back(data-popup="open")
                span Замовити дзвінок
            .header__menu
                .bar
            .header__menu-wrapper
                .content
                    .header__logo
                        a(href="./index.html")
                            .logo_full
                                img(src="../../assets/images/svg/bigben_logo.svg" alt="logo")
                    ul
                        li(class="active header__menu-item" data-scroll-to="#planning"): div: span Квартири
                        li(class="header__menu-item" data-scroll-to="#about"): div: span Про Проєкт
                        li(class="header__menu-item" data-scroll-to="#benefits"): div: span Переваги
                        li(class="header__menu-item" data-scroll-to="#characteristics"): div: span Характеристики
                        //- li(class="header__menu-item" data-scroll-to="#construction"): div: span Хід будівництва
                        li(class="header__menu-item" data-scroll-to="#parking"): div: span Паркінг
                        li(class="header__menu-item" data-scroll-to="#gallery"): div: span Галерея
                        //- li(class="header__menu-item" data-scroll-to="#discount"): div: span Акції та новини
                        li(class="header__menu-item" data-scroll-to="#doc"): div: span  Документи
                        li(class="header__menu-item" data-scroll-to="#developer"): div: span Про забудовника
                    .header__contacts
                        .header__phone 
                            a(href="tel:+380731263310")
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6466 12.22C14.6466 12.46 14.5933 12.7066 14.4799 12.9466C14.3666 13.1866 14.2199 13.4133 14.0266 13.6266C13.6999 13.9866 13.3399 14.2466 12.9333 14.4133C12.5333 14.58 12.0999 14.6666 11.6333 14.6666C10.9533 14.6666 10.2266 14.5066 9.45992 14.18C8.69325 13.8533 7.92659 13.4133 7.16659 12.86C6.39992 12.3 5.67325 11.68 4.97992 10.9933C4.29325 10.3 3.67325 9.57331 3.11992 8.81331C2.57325 8.05331 2.13325 7.29331 1.81325 6.53998C1.49325 5.77998 1.33325 5.05331 1.33325 4.35998C1.33325 3.90665 1.41325 3.47331 1.57325 3.07331C1.73325 2.66665 1.98659 2.29331 2.33992 1.95998C2.76659 1.53998 3.23325 1.33331 3.72659 1.33331C3.91325 1.33331 4.09992 1.37331 4.26659 1.45331C4.43992 1.53331 4.59325 1.65331 4.71325 1.82665L6.25992 4.00665C6.37992 4.17331 6.46659 4.32665 6.52659 4.47331C6.58659 4.61331 6.61992 4.75331 6.61992 4.87998C6.61992 5.03998 6.57325 5.19998 6.47992 5.35331C6.39325 5.50665 6.26659 5.66665 6.10659 5.82665L5.59992 6.35331C5.52659 6.42665 5.49325 6.51331 5.49325 6.61998C5.49325 6.67331 5.49992 6.71998 5.51325 6.77331C5.53325 6.82665 5.55325 6.86665 5.56659 6.90665C5.68659 7.12665 5.89325 7.41331 6.18659 7.75998C6.48659 8.10665 6.80659 8.45998 7.15325 8.81331C7.51325 9.16665 7.85992 9.49331 8.21325 9.79331C8.55992 10.0866 8.84659 10.2866 9.07325 10.4066C9.10659 10.42 9.14659 10.44 9.19325 10.46C9.24659 10.48 9.29992 10.4866 9.35992 10.4866C9.47325 10.4866 9.55992 10.4466 9.63325 10.3733L10.1399 9.87331C10.3066 9.70665 10.4666 9.57998 10.6199 9.49998C10.7733 9.40665 10.9266 9.35998 11.0933 9.35998C11.2199 9.35998 11.3533 9.38665 11.4999 9.44665C11.6466 9.50665 11.7999 9.59331 11.9666 9.70665L14.1733 11.2733C14.3466 11.3933 14.4666 11.5333 14.5399 11.7C14.6066 11.8666 14.6466 12.0333 14.6466 12.22Z" stroke="#EE1E04" stroke-width="1.5" stroke-miterlimit="10"/>
                                </svg>
                                span +380731263310
                        .header__call_back(data-popup="open")
                            span Замовити дзвінок
                    .header__contacts.second-block
                        //- div
                        //-     <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        //-         <path d="M11.3334 13.6667H4.66671C2.66671 13.6667 1.33337 12.6667 1.33337 10.3334V5.66671C1.33337 3.33337 2.66671 2.33337 4.66671 2.33337H11.3334C13.3334 2.33337 14.6667 3.33337 14.6667 5.66671V10.3334C14.6667 12.6667 13.3334 13.6667 11.3334 13.6667Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        //-         <path d="M11.3333 6L9.24662 7.66667C8.55996 8.21333 7.43329 8.21333 6.74662 7.66667L4.66663 6" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        //-     </svg>
                        //-     a(href="mailto:info@bigben.com") info@bigben.com
                        //-     <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        //-         <mask id="mask0_302_1779" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="8" height="8">
                        //-         <path d="M8 0H0V8H8V0Z" fill="white"/>
                        //-         </mask>
                        //-         <g mask="url(#mask0_302_1779)">
                        //-         <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.46134L1.36767 0H8V6.57613L6.48725 8V4.74331C6.48725 3.95061 6.49512 3.23248 6.51152 2.58825L1.19829 7.85152L0.145315 6.69973L5.45853 1.43671C4.82915 1.45329 4.12304 1.46134 3.34045 1.46134H0Z" fill="black"/>
                        //-         </g>
                        //-     </svg>
                        div 
                            a(href="https://www.google.com/maps/dir/?api=1&destination=Львів,+вул.+Стрийська,+Персенківка+2" target="_blank") 
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.00004 8.95333C9.1488 8.95333 10.08 8.02209 10.08 6.87334C10.08 5.72458 9.1488 4.79333 8.00004 4.79333C6.85129 4.79333 5.92004 5.72458 5.92004 6.87334C5.92004 8.02209 6.85129 8.95333 8.00004 8.95333Z" stroke="black" stroke-width="1.5"/>
                                    <path d="M2.4133 5.66004C3.72664 -0.113291 12.28 -0.106624 13.5866 5.66671C14.3533 9.05338 12.2466 11.92 10.4 13.6934C9.05997 14.9867 6.93997 14.9867 5.5933 13.6934C3.7533 11.92 1.64664 9.04671 2.4133 5.66004Z" stroke="black" stroke-width="1.5"/>
                                </svg>
                                span м. Львів, вул. Стрийська (Персенківка, 2)
                        div 
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.6667 8.00004C14.6667 11.68 11.68 14.6667 8.00004 14.6667C4.32004 14.6667 1.33337 11.68 1.33337 8.00004C1.33337 4.32004 4.32004 1.33337 8.00004 1.33337C11.68 1.33337 14.6667 4.32004 14.6667 8.00004Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.4733 10.12L8.40663 8.88671C8.04663 8.67338 7.7533 8.16005 7.7533 7.74005V5.00671" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            span Пн-Пт: 09:00-19:00 <br/> Сб: 10:00-17:00 <br/> Нд: вихідний
                    .header__social 
                        a(href="https://www.facebook.com/rielua/" target="_blank")
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.7442 3.98403H18.0002V0.168036C16.9079 0.0544523 15.8104 -0.00162514 14.7122 3.58369e-05C11.4482 3.58369e-05 9.21622 1.99203 9.21622 5.64003V8.78402H5.53223V13.056H9.21622V24H13.6322V13.056H17.3042L17.8562 8.78402H13.6322V6.06003C13.6322 4.80003 13.9682 3.98403 15.7442 3.98403Z" fill="black"/>
                            </svg>
                        a(href="https://www.instagram.com/rielua" target="_blank")
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0C8.74101 0 8.33234 0.0138258 7.0524 0.0722013C5.77514 0.13047 4.90283 0.333355 4.13952 0.629949C3.35041 0.936617 2.6812 1.34696 2.0141 2.01406C1.34696 2.68117 0.936617 3.35045 0.629984 4.13956C0.333319 4.90283 0.130505 5.77514 0.0721656 7.0524C0.0137901 8.33234 0 8.74101 0 12C0 15.259 0.0137901 15.6677 0.0721656 16.9476C0.130505 18.2249 0.333319 19.0972 0.629984 19.8604C0.936653 20.6495 1.347 21.3188 2.0141 21.9859C2.68124 22.653 3.35041 23.0634 4.13952 23.3701C4.90283 23.6666 5.77514 23.8695 7.0524 23.9278C8.33234 23.9862 8.74101 24 12 24C15.259 24 15.6677 23.9862 16.9476 23.9278C18.2249 23.8695 19.0972 23.6666 19.8604 23.3701C20.6495 23.0634 21.3188 22.653 21.9859 21.9859C22.653 21.3188 23.0634 20.6495 23.3701 19.8604C23.6666 19.0972 23.8695 18.2249 23.9278 16.9476C23.9862 15.6677 24 15.259 24 12C24 8.74101 23.9862 8.33234 23.9278 7.0524C23.8695 5.77514 23.6666 4.90283 23.3701 4.13956C23.0634 3.35045 22.653 2.68117 21.9859 2.01406C21.3188 1.34696 20.6495 0.936617 19.8604 0.629949C19.0972 0.333355 18.2249 0.13047 16.9476 0.0722013C15.6677 0.0138258 15.259 0 12 0ZM12 2.16215C15.2041 2.16215 15.5837 2.1744 16.849 2.23213C18.019 2.28547 18.6544 2.48096 19.0772 2.6453C19.6374 2.86301 20.0371 3.12302 20.457 3.54294C20.877 3.96286 21.137 4.36263 21.3547 4.92273C21.519 5.34558 21.7145 5.98099 21.7679 7.15097C21.8256 8.41633 21.8379 8.79588 21.8379 12C21.8379 15.2041 21.8256 15.5837 21.7679 16.849C21.7145 18.019 21.519 18.6544 21.3547 19.0772C21.137 19.6374 20.877 20.0371 20.457 20.457C20.0371 20.877 19.6374 21.137 19.0773 21.3547C18.6544 21.519 18.019 21.7145 16.849 21.7679C15.5839 21.8256 15.2044 21.8379 12 21.8379C8.79563 21.8379 8.41619 21.8256 7.15097 21.7678C5.98096 21.7145 5.34558 21.519 4.92277 21.3547C4.36259 21.137 3.96286 20.877 3.54297 20.457C3.12306 20.0371 2.86301 19.6374 2.6453 19.0773C2.48096 18.6544 2.28551 18.019 2.23213 16.849C2.1744 15.5837 2.16215 15.2041 2.16215 12C2.16215 8.79588 2.1744 8.41633 2.23213 7.15097C2.28551 5.98096 2.48096 5.34558 2.6453 4.92277C2.86301 4.36259 3.12306 3.96286 3.54294 3.54297C3.96286 3.12302 4.36263 2.86301 4.92273 2.6453C5.34558 2.48096 5.98099 2.28547 7.15097 2.23213C8.41633 2.1744 8.79588 2.16215 12 2.16215" fill="black"/>
                                <path d="M12 16.0001C9.79076 16.0001 7.99991 14.2092 7.99991 12.0001C7.99991 9.79091 9.79076 8.00006 12 8.00006C14.2091 8.00006 15.9999 9.79091 15.9999 12.0001C15.9999 14.2092 14.2091 16.0001 12 16.0001ZM12 5.83791C8.59664 5.83791 5.83777 8.59678 5.83777 12.0001C5.83777 15.4034 8.59664 18.1622 12 18.1622C15.4032 18.1622 18.1621 15.4034 18.1621 12.0001C18.1621 8.59678 15.4032 5.83791 12 5.83791ZM19.8456 5.59444C19.8456 6.38977 19.2008 7.03443 18.4056 7.03443C17.6103 7.03443 16.9656 6.38977 16.9656 5.59444C16.9656 4.79916 17.6103 4.15442 18.4056 4.15442C19.2008 4.15442 19.8456 4.79916 19.8456 5.59444Z" fill="black"/>
                            </svg>
                        //- a(href="#" target="_blank")
                        //-     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        //-         <path fill-rule="evenodd" clip-rule="evenodd" d="M2.63315 10.7489C8.46356 8.20867 12.3514 6.534 14.2967 5.72489C19.8509 3.4147 21.005 3.01339 21.7573 3.00014C21.9227 2.99723 22.2927 3.03823 22.5323 3.23267C22.7346 3.39685 22.7903 3.61863 22.8169 3.77429C22.8436 3.92995 22.8767 4.28455 22.8504 4.56163C22.5494 7.7241 21.247 15.3986 20.5845 18.9406C20.3041 20.4394 19.7521 20.9419 19.2176 20.9911C18.0562 21.098 17.1743 20.2235 16.0494 19.4861C14.2891 18.3323 13.2947 17.614 11.586 16.488C9.61139 15.1868 10.8915 14.4716 12.0168 13.3027C12.3113 12.9969 17.4286 8.34226 17.5277 7.92001C17.5401 7.86721 17.5515 7.67036 17.4346 7.56642C17.3177 7.46248 17.1451 7.49802 17.0205 7.52629C16.844 7.56636 14.0319 9.42501 8.5844 13.1022C7.78621 13.6503 7.06324 13.9174 6.41548 13.9034C5.70137 13.888 4.32772 13.4996 3.30656 13.1677C2.05406 12.7606 1.05859 12.5453 1.14528 11.8539C1.19043 11.4937 1.68638 11.1254 2.63315 10.7489Z" fill="black"/>
                        //-     </svg>
                        a(href="https://www.youtube.com/channel/UC3Qk_GuG8-owZsP5mzo4ZBQ" target="_blank")
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23 9.7095C23.0495 8.27815 22.7365 6.85751 22.09 5.5795C21.6514 5.05509 21.0427 4.70121 20.37 4.5795C17.5875 4.32702 14.7936 4.22354 12 4.2695C9.21667 4.22145 6.43274 4.3216 3.66003 4.5695C3.11185 4.66921 2.60454 4.92634 2.20003 5.3095C1.30003 6.1395 1.20003 7.5595 1.10003 8.7595C0.954939 10.9171 0.954939 13.0819 1.10003 15.2395C1.12896 15.9149 1.22952 16.5853 1.40003 17.2395C1.5206 17.7446 1.76455 18.2118 2.11003 18.5995C2.51729 19.003 3.03641 19.2747 3.60003 19.3795C5.75594 19.6456 7.92824 19.7559 10.1 19.7095C13.6 19.7595 16.67 19.7095 20.3 19.4295C20.8775 19.3311 21.4112 19.059 21.83 18.6495C22.11 18.3694 22.3191 18.0266 22.44 17.6495C22.7977 16.5521 22.9733 15.4036 22.96 14.2495C23 13.6895 23 10.3095 23 9.7095ZM9.74003 14.8495V8.6595L15.66 11.7695C14 12.6895 11.81 13.7295 9.74003 14.8495Z" fill="black"/>
                            </svg>
                        //- a(href="#" target="_blank")
                        //-     <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        //-         <path d="M20.4701 2.00002H3.53006C3.33964 1.99737 3.15056 2.03227 2.97362 2.1027C2.79669 2.17314 2.63536 2.27774 2.49886 2.41053C2.36235 2.54332 2.25334 2.7017 2.17805 2.87663C2.10276 3.05155 2.06267 3.2396 2.06006 3.43002V20.57C2.06267 20.7604 2.10276 20.9485 2.17805 21.1234C2.25334 21.2983 2.36235 21.4567 2.49886 21.5895C2.63536 21.7223 2.79669 21.8269 2.97362 21.8973C3.15056 21.9678 3.33964 22.0027 3.53006 22H20.4701C20.6605 22.0027 20.8496 21.9678 21.0265 21.8973C21.2034 21.8269 21.3648 21.7223 21.5013 21.5895C21.6378 21.4567 21.7468 21.2983 21.8221 21.1234C21.8974 20.9485 21.9375 20.7604 21.9401 20.57V3.43002C21.9375 3.2396 21.8974 3.05155 21.8221 2.87663C21.7468 2.7017 21.6378 2.54332 21.5013 2.41053C21.3648 2.27774 21.2034 2.17314 21.0265 2.1027C20.8496 2.03227 20.6605 1.99737 20.4701 2.00002ZM8.09006 18.74H5.09006V9.74002H8.09006V18.74ZM6.59006 8.48002C6.17632 8.48002 5.77953 8.31566 5.48697 8.0231C5.19442 7.73055 5.03006 7.33376 5.03006 6.92002C5.03006 6.50628 5.19442 6.10949 5.48697 5.81693C5.77953 5.52437 6.17632 5.36002 6.59006 5.36002C6.80975 5.3351 7.03224 5.35687 7.24293 5.4239C7.45363 5.49093 7.6478 5.60171 7.81272 5.74898C7.97763 5.89625 8.10958 6.0767 8.19993 6.2785C8.29028 6.4803 8.33698 6.69891 8.33698 6.92002C8.33698 7.14112 8.29028 7.35973 8.19993 7.56154C8.10958 7.76334 7.97763 7.94378 7.81272 8.09106C7.6478 8.23833 7.45363 8.3491 7.24293 8.41613C7.03224 8.48316 6.80975 8.50493 6.59006 8.48002ZM18.9101 18.74H15.9101V13.91C15.9101 12.7 15.4801 11.91 14.3901 11.91C14.0527 11.9125 13.7242 12.0183 13.4489 12.2132C13.1735 12.4081 12.9645 12.6827 12.8501 13C12.7718 13.2351 12.7379 13.4826 12.7501 13.73V18.73H9.75006C9.75006 18.73 9.75006 10.55 9.75006 9.73002H12.7501V11C13.0226 10.5271 13.419 10.1375 13.8965 9.87322C14.374 9.6089 14.9146 9.47987 15.4601 9.50002C17.4601 9.50002 18.9101 10.79 18.9101 13.56V18.74Z" fill="black"/>
                        //-     </svg>