.pop-up-doc
    .pop-up-doc__wrapper
        .pop-up-doc__close
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.25 29.75L29.75 12.25" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.75 29.75L12.25 12.25" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .swiper.swiper__pop-up_doc
            .swiper-wrapper
                .swiper-slide: div(class="swiper-slide__wrapper" id="1")
                    img(src="../../assets/images/doc.png") 
                    span 1.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="2")
                    img(src="../../assets/images/doc.png") 
                    span 2.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="3")
                    img(src="../../assets/images/doc.png") 
                    span 3.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="4")
                    img(src="../../assets/images/doc.png" ) 
                    span 4.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="5")
                    img(src="../../assets/images/doc.png") 
                    span 5.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="6")
                    img(src="../../assets/images/doc.png") 
                    span 6.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="7")
                    img(src="../../assets/images/doc.png") 
                    span 7.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
                .swiper-slide: div(class="swiper-slide__wrapper" id="8")
                    img(src="../../assets/images/doc.png") 
                    span 8.Дозвіл на виконання будівельних робіт №IY113181871586, зміни №IY123192210784
                    button 
                        span Завантажити документ
                        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                            <g clip-path="url(#clip0_253_1193)">
                                <mask id="mask0_253_1193" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="9" height="9">
                                <path d="M8.5 0.5H0.5V8.5H8.5V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_253_1193)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 1.96134L1.86767 0.5H8.5V7.07613L6.98725 8.5V5.24331C6.98725 4.45061 6.99512 3.73248 7.01152 3.08825L1.69829 8.35152L0.645315 7.19973L5.95853 1.93671C5.32915 1.95329 4.62304 1.96134 3.84045 1.96134H0.5Z" fill="#2B2B2B"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0_253_1193">
                                    <rect width="8" height="8" fill="white" transform="translate(0.5 0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>
            .swiper-button-pop-up_doc-next.swiper-button-main-next.swiper-button
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                </svg>
            .swiper-button-pop-up_doc-prev.swiper-button-main-prev.swiper-button