.popup 
    .popup__wrapper_for_scroll
        .popup__wrapper 
            .popup__close
                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.25 29.75L29.75 12.25" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M29.75 29.75L12.25 12.25" stroke="#2B2B2B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            .popup__title 
                div 
                    span Замовте дзвінок
                    img(src="../../assets/images/dog.png")
                div і наш фахівець проконсультує вас з усіх питань
            .popup_form
                form(action="" method="" data-form="call_back-form") 
                    .popup_form__item.name_of_form(data-field-input data-field-form-name)
                        label(for="form-name")
                        input(type="text" name="form-name" id="form-name" value="call-back" readonly) 
                    .popup_form__item(data-field-input data-field-name)
                        label(for="name") Ім’я:
                        input(type="text" name="name" id="name" placeholder="Введіть своє Ім’я")
                        .input-message(data-input-message)
                    .popup_form__item(data-field-input data-field-method)
                        label(for="method") Спосіб зв’язку:
                        input(type="text" name="method" id="method" placeholder="Telegram")
                        .input-message(data-input-message)
                    .popup_form__item(data-field-input data-field-phone)
                        label(for="phone") Телефон
                        input.text(type="tel" name="phone" id="phone" placeholder="Введіть ваш номер телефону")
                        .input-message(data-input-message)
                    .popup_form__item
                        label.text_halvar(for="message") Повідомлення
                        textarea.text(id="order_call_message" type="text" name="message" rows="5" placeholder="Введіть своє повідомлення тут...")
                    .popup_form__bottom
                        button(class="contact__form_button btn_blue" type="submit" data-btn-submit)
                            span(data-btn-submit-text) Надіслати
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                <g clip-path="url(#clip0_27_295)">
                                <mask id="mask0_27_295" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="8" height="8">
                                    <path d="M8 0H0V8H8V0Z" fill="white"/>
                                </mask>
                                    <g mask="url(#mask0_27_295)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.46134L1.36767 0H8V6.57613L6.48725 8V4.74331C6.48725 3.95061 6.49512 3.23248 6.51152 2.58825L1.19829 7.85152L0.145315 6.69973L5.45853 1.43671C4.82915 1.45329 4.12304 1.46134 3.34045 1.46134H0Z" fill="#2B2B2B"/>
                                    </g>
                                </g>
                                <defs>
                                    <clipPath id="clip0_27_295">
                                        <rect width="8" height="8" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        .popup_form__text Натискаючи кнопку «Надіслати», ви погоджуєтесь на обробку персональних даних, як зазначено в нашій
                            span політиці конфіденційності

