section.section_construction_bottom.content 
    .section_construction_bottom__wrapper 
        .section_construction_bottom__buttons
            .section_construction_bottom__button.section_construction_bottom__button_1 
                .section_construction_bottom__wrapper_button
                    span.section_construction_bottom__button_text_1 
                        span Місяць: 
                        span.section_construction_bottom__button_text_1_value Квітень
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .section_construction_bottom__wrapper_subbuttons.section_construction_bottom__wrapper_subbuttons_1
                    .section_construction_bottom__subbutton(id="month_kv") Квітень
                    .section_construction_bottom__subbutton(id="month_test") test
            .section_construction_bottom__button.section_construction_bottom__button_2
                .section_construction_bottom__wrapper_button
                    span.section_construction_bottom__button_text_2 
                        span Рік: 
                        span.section_construction_bottom__button_text_2_value 2024
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .section_construction_bottom__wrapper_subbuttons.section_construction_bottom__wrapper_subbuttons_2
                    .section_construction_bottom__subbutton(id="year_2024") 2024
                    .section_construction_bottom__subbutton(id="year_test") test
        .section_construction_bottom__display
            .display(data-month="month_kv" data-year="year_2024")
                .swiper.swiper_construction_bottom
                    .swiper-wrapper
                        .swiper-slide: img(src="../../assets/images/construction/construction.png")
                        .swiper-slide: img(src="../../assets/images/construction/construction.png")
                        .swiper-slide: img(src="../../assets/images/construction/construction.png")
                        .swiper-slide: img(src="../../assets/images/construction/construction.png")
                        .swiper-slide: img(src="../../assets/images/construction/construction.png")
                        .swiper-slide: img(src="../../assets/images/construction/construction.png")
                    .swiper-button-construction_bottom-next.swiper-button-main-next.swiper-button
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                        </svg>
                    .swiper-button-construction_bottom-prev.swiper-button-main-prev.swiper-button
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                        </svg>
