section.section_discount.content(id="discount")
    .section_discount__wrapper
        .section_discount__left 
            img(src="../../assets/images/discount.png" alt="girl")
            .section_discount__button(data-popup="open")
                .section_discount__button_wrapper
                    img(src="../../assets/images/bigben_pattern_1.png")
                    div
                        span Отримати персональний розрахунок
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffff"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>
        .section_discount__right
            .section_discount__title.section_title ДОДАТКОВІ ЗНИЖКИ
            .section_discount__text Знижки діють для <span>Військовослужбовців</span> (усі задіяні структури) та їхніх сімей, <span>Медпрацівників</span> та їхніх сімей, <span>Переселенців</span> із зони бойових дій
            .section_discount__items
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Умова
                    div 
                        span.section_discount__item_bottom Знижка надається за будь-якого першого внеску
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Військовослужбовці
                    div
                        span.section_discount__item_bottom Якщо перебувають у зоні бойових дій — знижка 5%
                        span.section_discount__item_bottom Якщо не перебувають у зоні бойових дій — знижка 3%
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Медпрацівники
                    div
                        span.section_discount__item_bottom Якщо перебувають у зоні бойових дій — знижка 5%
                        span.section_discount__item_bottom Якщо не перебувають у зоні бойових дій — знижка 3%
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Переселенці із зони бойових дій
                    div 
                        span.section_discount__item_bottom — Знижка 5%