section.section_conditions.content
    .section_conditions__wrapper
        .section_conditions__left
            .section_conditions__title.section_title Умови оплати
            .section_conditions__content_text_wrapper
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Внесок від 30%. Ціна збільшується на 5% одноразово
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Внесок від 50% без зміни вартості
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Повна оплата Знижка 3%
            .section_conditions__subtitle.section_subtitle Розтермінування
            .section_conditions__content_text_wrapper
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Щомісячно або поквартально
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Прив'язка до курсу продажу $ на riel.ua
        .section_conditions__right
            img(src="../../assets/images/conditions.png" alt="girl")