section.section_second_apartments
    .content 
        .section_second_apartments__wrapper 
            .section_second_apartments__top
                .section_second_apartments__title.section_title гнучкість можливостей
                .section_second_apartments__navigation 
                    .section_second_apartments-prev.swiper-button-main-prev.swiper-button
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                        </svg>
                    .section_second_apartments-next.swiper-button-main-next.swiper-button
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                        </svg>
    .section_second_apartments__swiper_wrapper
        .swiper.section_second_apartments__swiper
            .swiper-wrapper
                .swiper-slide
                    .apartment_card 
                        .decor 
                            img(src="../../assets/images/page_apartments/decor.jpg")
                        .apartment_card__top 
                            img(src="../../assets/images/page_apartments/card_1.jpg") 
                        .apartment_card__content 
                            .apartment_card__title Живеш сьогодні — заробляєш завтра
                            .apartment_card__text Апартаменти ідеально підходять для тих, хто хоче жити “тут і зараз”, але не забуває про майбутнє. Ви можете облаштувати їх під себе, а з часом — легко перетворити на прибутковий бізнес: подобова оренда, офіс для компанії або навіть шоурум. У проєкті Big Ben для цього створено ціле середовище — від фудкортів і кінотеатру під відкритим небом до просторів для роботи та дозвілля.
                .swiper-slide
                    .apartment_card 
                        .decor 
                            img(src="../../assets/images/page_apartments/decor.jpg")
                        .apartment_card__top 
                            img(src="../../assets/images/page_apartments/card_2.jpg") 
                        .apartment_card__content 
                            .apartment_card__title Вища дохідність
                            .apartment_card__text Апартаменти, особливо в локаціях із розвинутою інфраструктурою, приносять більше доходу з оренди, ніж звичайні квартири. Їх частіше вибирають туристи, ділові гості, фрілансери. У результаті — швидке повернення інвестицій і стабільний грошовий потік. Big Ben розташований у районі з високим попитом на оренду — поблизу УКУ, ІТ-компаній і Стрийського парку.
                .swiper-slide
                    .apartment_card 
                        .decor 
                            img(src="../../assets/images/page_apartments/decor.jpg")
                        .apartment_card__top 
                            img(src="../../assets/images/page_apartments/card_3.jpg") 
                        .apartment_card__content 
                            .apartment_card__title Свобода планування та дизайну
                            .apartment_card__text Більше простору, менше обмежень. Апартаменти характеризуються більш вільним плануванням — це можливість створити саме той простір, який вам потрібен: житловий, робочий або змішаний. Особливо якщо вибираєте апартаменти з панорамними вікнами й унікальною архітектурою — як у Big Ben.
    .section_second_apartments__navigation_bottom
        .section_second_apartments-prev.swiper-button-main-prev.swiper-button
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
            </svg>
        .section_second_apartments-next.swiper-button-main-next.swiper-button
            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
            </svg>
    .content 
        a.section_gallery_3__button_consultation(href="./")
                .section_gallery_3__button_consultation_wrapper
                    img(src="../../assets/images/bigben_pattern_1.png")
                    div
                        span На головну сторінку
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffff"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>

        