section.section_about.content(id="about")
    .section_about__wrapper 
        .section_about__left 
            .section_about__title.section_title Про проєкт
            .section_about__text 
                p Sorry, але тут не Лондон — тут краще! Big Ben розташований в епіцентрі молодого та прогресивного району недалеко від УКУ. Поруч затишні парки, зелені зони для прогулянок і чудова транспортна розв’язка.
                p Територія наповнена коворкінгами для трудоголіків, ресторанами для гедоністів, спортзалами для енерджайзерів і затишними двориками для тих, хто цінує спокій.
                p Архітектура поєднує львівську автентичність із британським стилем, створюючи love story, яку варто побачити.
        .section_about__right
            img(src="../../assets/images/section_about.png" alt="a cat in a hall")
