section.section_video.content 
    .section_video__stub 
        img(src="../../assets/images/video_stub.jpg" alt="buildings")
    .section_video__wrapper
        video(loop muted playsinline loading="lazy" id="section_video")
            source(src="../../assets/video/video.mp4" type="video/mp4")
        .button_play(id="section_video_btn_play")
            .button_play__wrapper 
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.1212 4.62074C12.2929 5.22578 12.2929 6.7742 11.1212 7.37924L2.56931 11.7945C1.42004 12.3878 0 11.6256 0 10.4152V1.58475C0 0.374453 1.42004 -0.387832 2.56931 0.205527L11.1212 4.62074Z" fill="#EE1E04"/>
                </svg>
        .button_close(id="section_video_btn_close")
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.167 36.8334L36.8337 15.1667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M36.8337 36.8334L15.167 15.1667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>


