section.section_developer(id="developer")
    img.section_developer__background(src="../../assets/images/background_section_developer.png")
    img.section_developer__background_top(src="../../assets/images/background_line.png")
    .section_developer__wrapper.content 
        .section_developer__title.section_title 
            span Девелопер
            img(src="../../assets/images/icon_top_section.png")
        .section_developer__subtitle Riel — системний девелопер який не зупиняється
        .section_developer__content_text_wrapper
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span На ринку з 2003 року
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span 100+ збудованих об’єктів загальною площею понад 2 мільйони квадратних метрів у Києві та Львові
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Єдиний у Києві, хто добудував усі об’єкти, розпочаті до повномасштабної війни
        a.section_developer__button(href="https://riel.ua/about" target="_blank")
            span Дізнатись більше
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>
        .section_developer__bottom_img: img(src="../../assets/images/icon_top_section.png")
    .section_developer__linear_gradient
        span