section.section_discount.content(id="discount")
    .section_discount__wrapper
        .section_discount__left 
            img(src="../../assets/images/discount.png" alt="girl")
            .section_discount__button(data-popup="open")
                .section_discount__button_wrapper
                    img(src="../../assets/images/bigben_pattern_1.png")
                    div
                        span Отримати персональний розрахунок
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_12_2088" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="23">
                                <path d="M21.665 0.834961H0.334961V22.165H21.665V0.834961Z" fill="white"/>
                            </mask>
                            <g mask="url(#mask0_12_2088)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.334961 4.73127L3.98152 0.834961H21.665V18.3686L17.6316 22.165V13.4818C17.6316 11.3683 17.6526 9.45356 17.6963 7.73588L3.5299 21.7691L0.722408 18.6981L14.8888 4.66559C13.2107 4.70978 11.328 4.73127 9.24144 4.73127H0.334961Z" fill="white"/>
                            </g>
                        </svg>
        .section_discount__right
            .section_discount__title.section_title ДОДАТКОВІ ЗНИЖКИ
            .section_discount__text Знижки діють для <span>Військовослужбовців</span> (усі задіяні структури) та їхніх сімей, <span>Медпрацівників</span> та їхніх сімей, <span>Переселенців</span> із зони бойових дій
            .section_discount__items
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Умова
                    div 
                        span.section_discount__item_bottom Знижка надається за будь-якого першого внеску
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Військовослужбовці
                    div
                        span.section_discount__item_bottom Якщо перебувають у зоні бойових дій — знижка 5%
                        span.section_discount__item_bottom Якщо не перебувають у зоні бойових дій — знижка 3%
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Медпрацівники
                    div
                        span.section_discount__item_bottom Якщо перебувають у зоні бойових дій — знижка 5%
                        span.section_discount__item_bottom Якщо не перебувають у зоні бойових дій — знижка 3%
                .section_discount__item
                    div 
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                        </svg>
                        span Переселенці із зони бойових дій
                    div 
                        span.section_discount__item_bottom — Знижка 5%