section.section_characteristics.content(id="characteristics")
    .section_characteristics__wrapper
        .section_characteristics__title.section_title Характеристики
        .section_characteristics__items 
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Паркінг
                div Підземний
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Територія
                div Закриті внутрішні двори
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Висота стелі
                div 2,7 м
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Опалення
                div Централізоване
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Утеплення
                div Мінеральна вата
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Стіни
                div Газобетон
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Технологія будівництва
                div Каркасна
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Поверховість
                div 7-18
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Кількість будинків
                div 16
            .section_characteristics__item
                div 
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                    </svg>
                    span Клас
                div Комфорт
        .section_characteristics__photo 
            div 
                div: img(src="../../assets/images/bigben_pattern_1.png")
                img(src="../../assets/images/characteristics/1.png" alt="house")
            div
                div: img(src="../../assets/images/bigben_pattern_1.png")
                img(src="../../assets/images/characteristics/2.png" alt="house")
            