<section class="section_view content"> <img class="section_view__background section_background" src="../../assets/images/bigben_pattern_1.png" alt="background" loading="lazy">
    <div class="section_view__wrapper">
        <div class="section_view__title section_title">
            <div>Як може виглядати ваше життя в BigBen</div>
        </div>
        <div class="section_view__subtitle section_subtitle">BIGBEN / Львів</div>
        <div class="section_view__inside_wrapper">
            button(id="loadIframeButton") Завантажити тур
            <div class="iframe-container" id="iframeWrapper">
                img(src="../../assets/images/view/2.png")
                <iframe  id="lazyIframe" loading="lazy" allowfullscreen data-src="https://v3.vrnet.io/?lscene=ua/riel/bigben/ext">
                </iframe>
            </div>
        </div>
    </div>
</section>
