section.section_construction.content(id="construction")
    .section_construction__wrapper
        .section_construction__title.section_title Хід будівництва
        .section_construction__subtitle Прогрес робіт
        .section_construction__buttons
            .section_construction__button.section_construction__button_1 
                .section_construction__wrapper_button
                    span.section_construction__button_text_1 Будинок. 2 - 4 кв. 2027 р. Будинок. 2 - 4 кв. 2027 р.
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .section_construction__wrapper_subbuttons.section_construction__wrapper_subbuttons_1
                    .section_construction__subbutton(id="house_2") Будинок. 2 - 4 кв. 2027 р.
                    .section_construction__subbutton(id="house_test") Будинок. test - test кв. test р.
            .section_construction__button.section_construction__button_2
                .section_construction__wrapper_button
                    span.section_construction__button_text_2 2 Черга
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                .section_construction__wrapper_subbuttons.section_construction__wrapper_subbuttons_2
                    .section_construction__subbutton(id="line_2") 2 Черга
                    .section_construction__subbutton(id="line_test") test Черга
        .section_construction__display
            .display(data-house="house_2" data-line="line_2")
                .display__top 
                    .display__date_update Дата оновлення 
                        span (12.03.2025)
                    .display__date_end Дата планового завершення будівництва 
                        span (20.05.2027)
                .display__ranges 
                    .display__ranges_title(id="status")
                        span Статус будівництва
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .display__ranges_wrapper(data-for="status")
                        .display__range
                            .display__range_name Будівництво
                            .display__range_value 31%
                            .display__range_scale
                                span(style="width:31%")
                        .display__range
                            .display__range_name Фундмент
                            .display__range_value 70%
                            .display__range_scale 
                                span(style="width:70%")
                    .display__ranges_title 
                        span Оздоблювальні роботи
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .display__ranges_wrapper
                        .display__range
                            .display__range_name Будівництво
                            .display__range_value 31%
                            .display__range_scale
                                span(style="width:31%")
                        .display__range
                            .display__range_name Фундмент
                            .display__range_value 70%
                            .display__range_scale 
                                span(style="width:70%")
                    .display__ranges_title 
                        span Благоустрій
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.38012 5.19727L6.18345 9.0006C6.63262 9.44977 7.36762 9.44977 7.81678 9.0006L11.6201 5.19727" stroke="#5D5B5B" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .display__ranges_wrapper
                        .display__range
                            .display__range_name Будівництво
                            .display__range_value 31%
                            .display__range_scale
                                span(style="width:31%")
                        .display__range
                            .display__range_name Фундмент
                            .display__range_value 70%
                            .display__range_scale 
                                span(style="width:70%")

