section.section_top_apartments 
    img(src="../../assets/images/page_apartments/top_section_bg.jpg" alt="background")
    .bg
    .content
        .section_top_apartments__title Житло, яке <br>заробляє
        .section_top_apartments__content 
            .section_top_apartments__content_left Чому апартаменти <br>це інвестиція
            .section_top_apartments__content_right Апартаменти — це житло, яке розширює можливості. Це варіант для тих, хто хоче більше, ніж просто “свої метри”. Це ваш стиль, ваша гнучкість і ваша інвестиція в майбутнє. Особливо коли йдеться про сучасні апартаменти в житлових комплексах нового покоління — як ЖК Big Ben у Львові.

