section.section_benefits.content(id="benefits")
    .section_benefits__wrapper
        .section_benefits__title.section_title
            div Переваги
        .section_benefits__tabs
            .section_benefits__tabs_buttons 
                button.section_benefits__tabs_button.active(id="location") Розташування
                button.section_benefits__tabs_button(id="architectural_solution") Архітектурне рішення
                button.section_benefits__tabs_button(id="infrastructure") Інфраструктура
                button.section_benefits__tabs_button(id="ecosystem") Екосистема послуг
                button.section_benefits__tabs_button(id="security") Безпека
                button.section_benefits__tabs_button(id="energy_independence") Енергонезалежність
            .section_benefits__display 
                .section_benefits__content.active(data-info="location")
                    .section_benefits__content_left
                        .section_benefits__content_text
                            .section_benefits__content_text_wrapper
                                div 
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                    </svg>
                                    span Розташований у новому районі, що динамічно розвивається
                                div 
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                    </svg>
                                    span Поруч - зручна транспортна розв’язка, 4 парки та УКУ
                                div 
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                    </svg>
                                    span На мапі - всі-всі розваги та необхідності навколо ЖК. Розглядай! 
                            .section_benefits__button_consultation(data-popup="open")
                                .section_benefits__button_consultation_wrapper
                                    img(src="../../assets/images/bigben_pattern_1.png")
                                    div
                                        span Записатися на консультацію
                                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_12_2088" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="22" height="23">
                                                <path d="M21.665 0.834961H0.334961V22.165H21.665V0.834961Z" fill="white"/>
                                            </mask>
                                            <g mask="url(#mask0_12_2088)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.334961 4.73127L3.98152 0.834961H21.665V18.3686L17.6316 22.165V13.4818C17.6316 11.3683 17.6526 9.45356 17.6963 7.73588L3.5299 21.7691L0.722408 18.6981L14.8888 4.66559C13.2107 4.70978 11.328 4.73127 9.24144 4.73127H0.334961Z" fill="white"/>
                                            </g>
                                        </svg>
                        .section_benefits__content_markers 
                            button(data-category="school" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M7.83547 7C7.83514 7 7.83478 7 7.83446 7C7.72096 7 7.61422 7.04424 7.53361 7.12465C7.45212 7.20594 7.40723 7.31418 7.40723 7.42941V13.8684C7.40723 14.1045 7.60007 14.297 7.83716 14.2976C8.83667 14.3 10.5112 14.5084 11.6665 15.7173V8.97873C11.6665 8.89869 11.646 8.8235 11.6074 8.76128C10.6593 7.23434 8.83724 7.00234 7.83547 7Z" fill="black"/>
                                    <path d="M16.5922 13.8684V7.42941C16.5922 7.31418 16.5473 7.20594 16.4658 7.12465C16.3852 7.04424 16.2784 7 16.165 7C16.1647 7 16.1643 7 16.164 7C15.1622 7.00238 13.3402 7.23438 12.392 8.76132C12.3534 8.82354 12.333 8.89873 12.333 8.97877V15.7173C13.4882 14.5084 15.1628 14.3 16.1623 14.2976C16.3994 14.297 16.5922 14.1045 16.5922 13.8684Z" fill="black"/>
                                    <path d="M17.5707 8.48486H17.2594V13.8683C17.2594 14.4712 16.7682 14.9628 16.1644 14.9643C15.3166 14.9663 13.9187 15.1321 12.9287 16.0691C14.6409 15.6498 16.4459 15.9223 17.4746 16.1568C17.6031 16.186 17.7358 16.1558 17.8387 16.0738C17.9412 15.992 18.0001 15.8697 18.0001 15.7384V8.91419C18.0001 8.67747 17.8075 8.48486 17.5707 8.48486Z" fill="black"/>
                                    <path d="M6.74068 13.8683V8.48486H6.42933C6.19265 8.48486 6 8.67747 6 8.91419V15.7383C6 15.8696 6.05883 15.9918 6.16137 16.0737C6.2642 16.1556 6.39681 16.186 6.52545 16.1566C7.55413 15.9222 9.35917 15.6497 11.0713 16.0689C10.0813 15.132 8.68346 14.9662 7.83566 14.9642C7.23191 14.9628 6.74068 14.4712 6.74068 13.8683Z" fill="black"/>
                                </svg>
                                span Школи
                            button(data-category="university" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M7.83547 7C7.83514 7 7.83478 7 7.83446 7C7.72096 7 7.61422 7.04424 7.53361 7.12465C7.45212 7.20594 7.40723 7.31418 7.40723 7.42941V13.8684C7.40723 14.1045 7.60007 14.297 7.83716 14.2976C8.83667 14.3 10.5112 14.5084 11.6665 15.7173V8.97873C11.6665 8.89869 11.646 8.8235 11.6074 8.76128C10.6593 7.23434 8.83724 7.00234 7.83547 7Z" fill="black"/>
                                    <path d="M16.5922 13.8684V7.42941C16.5922 7.31418 16.5473 7.20594 16.4658 7.12465C16.3852 7.04424 16.2784 7 16.165 7C16.1647 7 16.1643 7 16.164 7C15.1622 7.00238 13.3402 7.23438 12.392 8.76132C12.3534 8.82354 12.333 8.89873 12.333 8.97877V15.7173C13.4882 14.5084 15.1628 14.3 16.1623 14.2976C16.3994 14.297 16.5922 14.1045 16.5922 13.8684Z" fill="black"/>
                                    <path d="M17.5707 8.48486H17.2594V13.8683C17.2594 14.4712 16.7682 14.9628 16.1644 14.9643C15.3166 14.9663 13.9187 15.1321 12.9287 16.0691C14.6409 15.6498 16.4459 15.9223 17.4746 16.1568C17.6031 16.186 17.7358 16.1558 17.8387 16.0738C17.9412 15.992 18.0001 15.8697 18.0001 15.7384V8.91419C18.0001 8.67747 17.8075 8.48486 17.5707 8.48486Z" fill="black"/>
                                    <path d="M6.74068 13.8683V8.48486H6.42933C6.19265 8.48486 6 8.67747 6 8.91419V15.7383C6 15.8696 6.05883 15.9918 6.16137 16.0737C6.2642 16.1556 6.39681 16.186 6.52545 16.1566C7.55413 15.9222 9.35917 15.6497 11.0713 16.0689C10.0813 15.132 8.68346 14.9662 7.83566 14.9642C7.23191 14.9628 6.74068 14.4712 6.74068 13.8683Z" fill="black"/>
                                </svg>
                                span Університети
                            button(data-category="kinder-place" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M9.30591 15.2875V18.1936C9.30591 18.5118 9.56045 18.7875 9.89985 18.7875C10.218 18.7875 10.4938 18.533 10.4938 18.1936V15.2451C10.2392 15.2875 10.0059 15.3088 9.75136 15.3088C9.60288 15.3088 9.45439 15.3088 9.30591 15.2875Z" fill="black"/>
                                    <path d="M6.18785 17.833C6.01815 18.1088 6.08179 18.4694 6.35754 18.6391C6.4636 18.7027 6.56966 18.7239 6.67573 18.7239C6.86663 18.7239 7.05754 18.6391 7.1636 18.4482C7.71512 17.5997 8.09694 16.4967 8.37269 15.0754C7.99088 14.9482 7.60906 14.7573 7.26966 14.5239C7.03633 15.9664 6.67573 17.0482 6.18785 17.833Z" fill="black"/>
                                    <path d="M10.7698 7.94819C11.3907 7.94819 11.894 7.44485 11.894 6.82395C11.894 6.20305 11.3907 5.69971 10.7698 5.69971C10.1488 5.69971 9.64551 6.20305 9.64551 6.82395C9.64551 7.44485 10.1488 7.94819 10.7698 7.94819Z" fill="black"/>
                                    <path d="M12.6362 13.0816C12.6999 13.0816 12.7847 13.0604 12.8484 13.018H12.8696C13.0393 12.9119 13.1029 12.6786 12.9968 12.4877C12.7847 12.1483 12.509 11.4059 12.1696 10.2816C12.0635 9.92101 11.9362 9.53919 11.8302 9.11494C11.809 9.05131 11.809 9.00888 11.7878 8.94525C11.7665 8.88161 11.7453 8.81797 11.7029 8.77555C11.6817 8.73313 11.6393 8.71191 11.5968 8.6907C10.8544 8.13919 10.0696 7.94828 9.19987 8.13919C9.13624 8.07555 9.0726 8.03313 9.03018 7.96949C7.77866 6.82404 7.75745 5.65737 7.75745 5.61494C7.75745 5.40282 7.58775 5.21191 7.37563 5.21191C7.16351 5.21191 6.9726 5.38161 6.9726 5.59373C6.9726 5.65737 6.9726 7.16343 8.47866 8.58464L8.62715 8.73313H8.64836L8.30896 10.5149L6.93018 14.0362C7.05745 14.1422 7.18472 14.2483 7.31199 14.3331C7.65139 14.5877 8.03321 14.7786 8.41502 14.9059C8.71199 15.0119 9.00896 15.0756 9.30593 15.0968C9.68775 15.1392 10.0908 15.118 10.4938 15.0543C10.7696 15.0119 11.0241 14.9271 11.2999 14.8422L11.2362 11.0665L11.3635 10.4301C11.3635 10.4725 11.3847 10.4937 11.3847 10.5362C11.4059 10.6422 11.4484 10.7483 11.4696 10.8331C11.809 11.8937 12.0635 12.5513 12.2968 12.9119C12.3605 12.9968 12.4241 13.0604 12.5302 13.0816H12.6362Z" fill="black"/>
                                    <path d="M17.6635 11.5754C17.4938 11.5542 17.3453 11.6603 17.3241 11.83C17.1756 12.6997 16.1787 12.8694 16.1362 12.8906C16.115 12.8906 16.115 12.8906 16.0938 12.8906C15.3302 12.4027 14.5665 12.3815 13.8241 12.9542C13.8029 12.9542 13.7817 12.9754 13.7605 12.9967C13.4847 13.23 13.2514 13.2724 12.9968 13.1451C12.9756 13.1664 12.9332 13.1876 12.8908 13.2088C12.8483 13.2724 12.7423 13.2936 12.6362 13.2936C12.5726 13.2936 12.509 13.2724 12.4241 13.2512C12.4029 13.3573 12.4453 13.4633 12.5302 13.527C12.7847 13.6967 13.018 13.8027 13.2726 13.8027C13.4635 13.8027 13.6544 13.7603 13.8453 13.6542L13.9302 15.9239C13.9302 15.9876 13.9726 16.03 14.0362 16.03H14.1635L14.1211 16.4118L13.3574 17.9815C13.2726 18.1724 13.3362 18.4057 13.5483 18.5118C13.612 18.533 13.6544 18.5542 13.718 18.5542C13.8665 18.5542 13.9938 18.4694 14.0787 18.3421L14.8635 16.73C14.8847 16.6876 14.9059 16.6451 14.9059 16.6027L14.9696 16.1148H15.0968L15.3938 18.2361C15.415 18.427 15.5847 18.5754 15.7756 18.5754H15.8393C16.0514 18.5542 16.1999 18.3421 16.1787 18.13L15.9029 16.1361C15.9453 16.1361 15.9877 16.0936 15.9877 16.0512L16.2847 13.4845C16.5393 13.4421 17.7059 13.1239 17.8968 11.9573C17.9393 11.7451 17.8332 11.5967 17.6635 11.5754Z" fill="black"/>
                                    <path d="M15.0333 12.3181C15.5019 12.3181 15.8818 11.9382 15.8818 11.4696C15.8818 11.001 15.5019 10.6211 15.0333 10.6211C14.5647 10.6211 14.1848 11.001 14.1848 11.4696C14.1848 11.9382 14.5647 12.3181 15.0333 12.3181Z" fill="black"/>
                                </svg>
                                span Садочки
                            button(data-category="hospital" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <g clip-path="url(#clip0_691_1357)">
                                    <path d="M18 9.74693H14.2531V6H9.74693V9.74693H6V14.2531H9.74693V18H14.2531V14.2531H18V9.74693Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_691_1357">
                                    <rect width="12" height="12" fill="white" transform="translate(6 6)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                span Лікарні
                            button(data-category="fun" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <g clip-path="url(#clip0_691_1371)">
                                    <path d="M12.0001 6C10.612 5.99997 9.26679 6.48127 8.19374 7.36184C7.1207 8.24244 6.38616 9.46787 6.11532 10.8293C5.84449 12.1907 6.05408 13.604 6.70841 14.8282C7.36274 16.0524 8.42128 17.0119 9.70372 17.5432C10.9862 18.0744 12.4131 18.1446 13.7415 17.7417C15.0699 17.3388 16.2174 16.4877 16.9887 15.3336C17.7599 14.1794 18.1071 12.7936 17.9711 11.4121C17.8351 10.0307 17.2243 8.73912 16.2428 7.75754C15.6857 7.20035 15.0242 6.75836 14.2963 6.45679C13.5683 6.15524 12.7881 6.00003 12.0001 6ZM8.65207 10.8216C8.78171 10.6538 8.94706 10.517 9.13617 10.4212C9.32527 10.3253 9.53333 10.2728 9.74529 10.2674C9.98237 10.2582 10.2186 10.3013 10.4371 10.3935C10.6557 10.4858 10.8513 10.625 11.0101 10.8013C11.0416 10.8365 11.0659 10.8777 11.0815 10.9224C11.0971 10.967 11.1038 11.0143 11.1011 11.0616C11.0984 11.1088 11.0865 11.1551 11.0659 11.1977C11.0454 11.2403 11.0167 11.2785 10.9814 11.31C10.9461 11.3415 10.9049 11.3658 10.8603 11.3814C10.8156 11.397 10.7683 11.4036 10.7211 11.401C10.6738 11.3983 10.6276 11.3864 10.585 11.3658C10.5423 11.3453 10.5042 11.3165 10.4727 11.2813C10.3848 11.1844 10.2766 11.1082 10.1559 11.058C10.0352 11.0079 9.90488 10.9849 9.77427 10.9909C9.66938 10.9911 9.56588 11.0149 9.47145 11.0606C9.37705 11.1063 9.29415 11.1727 9.22894 11.2548C9.19535 11.2995 9.15185 11.3358 9.10187 11.3608C9.05189 11.3858 8.99677 11.3989 8.94089 11.399C8.87379 11.3992 8.80797 11.3806 8.75087 11.3454C8.69374 11.3102 8.6476 11.2597 8.61765 11.1997C8.5877 11.1397 8.57512 11.0724 8.58134 11.0056C8.58755 10.9388 8.61231 10.8751 8.65284 10.8216H8.65207ZM15.3266 13.0764C15.2125 13.8774 14.8132 14.6103 14.2021 15.1405C13.5911 15.6708 12.8092 15.9627 12.0001 15.9627C11.1911 15.9627 10.4092 15.6708 9.79807 15.1405C9.18699 14.6103 8.78773 13.8774 8.67368 13.0764C8.66484 13.0143 8.67058 12.9511 8.69046 12.8916C8.71039 12.8344 8.74278 12.7823 8.78529 12.7391C8.82923 12.6951 8.88145 12.6603 8.9389 12.6366C8.99636 12.6129 9.05796 12.6008 9.12012 12.601H14.8801C14.9431 12.6005 15.0055 12.6127 15.0636 12.6368C15.1218 12.661 15.1744 12.6966 15.2185 12.7416C15.2617 12.7855 15.2942 12.8389 15.3133 12.8974C15.3318 12.9556 15.3363 13.0172 15.3266 13.0774V13.0764ZM15.3601 11.3077C15.3248 11.3391 15.2836 11.3633 15.2389 11.3788C15.1942 11.3943 15.1469 11.4009 15.0996 11.3981C15.0524 11.3953 15.0062 11.3832 14.9637 11.3626C14.9211 11.3419 14.883 11.3131 14.8516 11.2777C14.7637 11.181 14.6555 11.1048 14.5348 11.0546C14.4141 11.0044 14.2838 10.9815 14.1532 10.9874C14.048 10.9879 13.9442 11.0122 13.8497 11.0585C13.7551 11.1048 13.6723 11.172 13.6074 11.2548C13.5738 11.2995 13.5303 11.3358 13.4803 11.3608C13.4304 11.3858 13.3752 11.3989 13.3194 11.399C13.2523 11.3992 13.1864 11.3806 13.1293 11.3454C13.0722 11.3102 13.0261 11.2597 12.9961 11.1997C12.9662 11.1397 12.9536 11.0724 12.9598 11.0056C12.966 10.9388 12.9908 10.8751 13.0313 10.8216C13.1608 10.654 13.326 10.5173 13.5148 10.4215C13.7037 10.3256 13.9115 10.273 14.1232 10.2674C14.3603 10.2585 14.5964 10.3018 14.8149 10.394C15.0334 10.4863 15.2291 10.6253 15.3881 10.8013C15.4516 10.8725 15.4844 10.9661 15.479 11.0614C15.4736 11.1568 15.4305 11.2461 15.3593 11.3097L15.3601 11.3077Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_691_1371">
                                    <rect width="12" height="12" fill="white" transform="translate(6 6)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                span Розваги
                            button(data-category="restaurant" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <g clip-path="url(#clip0_691_1387)">
                                    <path d="M17.6878 16.203L12.9824 11.4975L7.48492 6H7.05529L6.96756 6.22291C6.73602 6.81129 6.63709 7.41307 6.6815 7.96312C6.73213 8.59013 6.97032 9.13296 7.37038 9.53302L11.662 13.8247L12.2281 13.2586L16.1957 17.6951C16.5904 18.0898 17.2697 18.1133 17.6878 17.6951C18.0993 17.2837 18.0993 16.6144 17.6878 16.203Z" fill="black"/>
                                    <path d="M9.67339 12.8306L6.31219 16.1918C5.90082 16.6031 5.90082 17.2725 6.31219 17.6839C6.70299 18.0747 7.37905 18.1092 7.80434 17.6839L11.1656 14.3227L9.67339 12.8306Z" fill="black"/>
                                    <path d="M17.4903 7.99786L15.5836 9.9045L15.0862 9.40711L16.9929 7.50045L16.4955 7.00306L14.5889 8.9097L14.0915 8.41231L15.9981 6.50567L15.5008 6.0083L13.0138 8.49525C12.7096 8.7995 12.5279 9.20346 12.5022 9.63279C12.4957 9.74157 12.4711 9.84856 12.4302 9.95032L14.0457 11.5658C14.1475 11.5249 14.2545 11.5003 14.3632 11.4938C14.7926 11.4682 15.1965 11.2864 15.5008 10.9822L17.9877 8.49528L17.4903 7.99786Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_691_1387">
                                    <rect width="12" height="12" fill="white" transform="translate(6 6)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                span Ресторани
                            button(data-category="sport" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" rx="12" fill="white"/>
                                    <g clip-path="url(#clip0_691_1411)">
                                    <path d="M9.42802 16.0793C9.14406 16.2977 8.79307 16.4328 8.40794 16.4328C7.47981 16.4328 6.72457 15.6776 6.72457 14.7494C6.72457 13.8211 7.47981 13.0659 8.40794 13.0659C9.10842 13.0659 9.70918 13.4966 9.96248 14.1065L10.4896 13.5598C10.0745 12.8352 9.30279 12.3413 8.40794 12.3413C7.07786 12.3413 6 13.4194 6 14.7494C6 16.0793 7.07786 17.1574 8.40794 17.1574C9.03371 17.1574 9.59832 16.9128 10.0266 16.5213C9.86226 16.4661 9.70633 16.3786 9.5731 16.2503C9.51813 16.1972 9.47069 16.1391 9.42802 16.0793Z" fill="black"/>
                                    <path d="M13.0844 12.3597L11.8094 11.6191C12.378 11.2632 12.1672 11.395 12.7358 11.0391L12.7179 11.2202C12.6872 11.5285 12.9144 11.8106 13.2005 11.8686C13.2073 11.87 15.4388 12.2493 15.5202 12.2493C15.8101 12.2493 16.066 12.0399 16.115 11.7443C16.1697 11.4153 15.9473 11.1044 15.6183 11.0499L13.9755 10.777L14.0536 9.99306C14.1324 9.49209 14.1665 9.33501 13.9795 9.03613L13.7443 8.66018C13.4405 8.17499 12.8 8.02663 12.3136 8.33113L9.73989 9.94253C9.10776 10.3383 8.79949 11.1728 9.31556 11.7867C9.51718 12.0266 11.4774 13.2312 11.4774 13.2312L9.88985 14.878C9.612 15.166 9.62026 15.6247 9.90847 15.9024C10.0491 16.0379 10.2302 16.1054 10.4113 16.1054C10.6012 16.1054 10.7909 16.0314 10.9328 15.8837L13.2419 13.489C13.5677 13.1519 13.4913 12.596 13.0844 12.3597Z" fill="black"/>
                                    <path d="M15.7892 9.0702C16.3537 8.71664 16.5247 7.97272 16.1713 7.40853C15.818 6.84387 15.0741 6.67287 14.5097 7.0262C13.9455 7.37954 13.7745 8.1232 14.1276 8.68738C14.4809 9.25207 15.2248 9.42331 15.7892 9.0702Z" fill="black"/>
                                    <path d="M15.592 12.3413C14.2481 12.3413 13.1841 13.4501 13.1841 14.7494C13.1841 16.0793 14.262 17.1574 15.592 17.1574C16.9218 17.1574 18 16.0793 18 14.7494C18 13.4194 16.9218 12.3413 15.592 12.3413ZM15.592 16.4328C14.6639 16.4328 13.9087 15.6776 13.9087 14.7494C13.9087 13.8211 14.6639 13.0659 15.592 13.0659C16.5202 13.0659 17.2754 13.8211 17.2754 14.7494C17.2754 15.6776 16.5202 16.4328 15.592 16.4328Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_691_1411">
                                    <rect width="12" height="12" fill="white" transform="translate(6 6)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                span Спорт
                            button(data-category="food" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <g clip-path="url(#clip0_691_1431)">
                                    <path d="M14.3179 11.4728C14.1819 11.4798 14.1233 11.6298 14.0249 11.6978C13.8983 11.8267 13.6405 11.8009 13.5304 11.686C13.4319 11.597 13.3452 11.4259 13.1929 11.4845C13.1015 11.5267 13.0546 11.6274 12.9773 11.6884C12.7546 11.8829 12.4921 11.7587 12.3351 11.5407C12.2343 11.4282 12.1007 11.4634 12.0093 11.5899C11.8148 11.8618 11.489 11.8313 11.3202 11.5923C11.2663 11.5267 11.2101 11.4774 11.1327 11.4728C11.0108 11.4728 10.9429 11.6157 10.8562 11.6884C10.6265 11.8829 10.3687 11.7587 10.214 11.5407C10.139 11.447 10.0077 11.4587 9.93038 11.5431C9.75225 11.8126 9.41007 11.8853 9.19678 11.5923C9.16397 11.5548 9.14053 11.5267 9.11241 11.5056V14.5454C10.6101 14.6063 10.5773 16.6384 9.88116 17.5712C9.77803 17.7095 9.65147 17.8407 9.51085 17.9321C9.54835 17.9415 9.58819 17.9462 9.62803 17.9462H14.7444V11.7704C14.5452 11.7306 14.4983 11.4798 14.3179 11.4728ZM13.8233 13.8868C13.8233 13.9431 13.7765 13.9899 13.7202 13.9899H10.2444C10.1882 13.9899 10.1413 13.9431 10.1413 13.8868V12.804C10.1413 12.7478 10.1882 12.7009 10.2444 12.7009H13.7226C13.7788 12.7009 13.8257 12.7478 13.8257 12.804V13.8868H13.8233ZM15.1991 11.3157C15.2554 11.2853 15.3163 11.2688 15.3796 11.2688C15.6116 11.2735 15.6749 11.4235 15.7921 11.5313C15.8694 11.5946 15.9538 11.5923 16.0288 11.5313C16.0898 11.4798 16.1413 11.3907 16.214 11.3438C16.364 11.2384 16.5515 11.2407 16.6898 11.3603L17.3835 8.06963C17.3952 8.01104 17.4023 7.95479 17.4023 7.89385C17.421 7.24463 16.6265 6.81104 16.0921 7.18369C15.9023 7.30791 15.771 7.49775 15.7241 7.72041L14.9132 11.5665C15.028 11.5056 15.0773 11.379 15.1991 11.3157ZM16.0101 8.48682C16.0687 8.29932 16.3218 7.94541 16.8632 7.95947C16.9968 7.96416 16.9944 8.16338 16.8585 8.16572C16.3476 8.15166 16.2116 8.53369 16.2046 8.5501C16.1905 8.59229 16.1507 8.62041 16.1062 8.62041C16.0405 8.62041 15.989 8.5501 16.0101 8.48682ZM15.7757 9.6001C15.8343 9.4126 16.0874 9.06104 16.6288 9.07275C16.7788 9.08447 16.7483 9.29775 16.6007 9.27666C16.0991 9.27666 15.9726 9.65635 15.9726 9.66104C15.9585 9.70557 15.9187 9.73369 15.8741 9.73369C15.8062 9.73369 15.7546 9.66338 15.7757 9.6001ZM15.5413 10.711C15.5999 10.5235 15.853 10.1743 16.3944 10.1837C16.528 10.1884 16.5233 10.3876 16.3898 10.3899C15.9069 10.3642 15.7241 10.7696 15.7382 10.7743C15.696 10.9032 15.5015 10.8399 15.5413 10.711ZM8.06007 14.7118C7.99678 14.386 7.94522 13.7673 8.36241 13.4579C8.38819 13.4392 8.41866 13.4345 8.44678 13.4415C8.43507 13.4438 8.42335 13.4485 8.41397 13.4579C7.9921 13.772 8.04835 14.4024 8.11397 14.7259C8.09522 14.7188 8.07647 14.7165 8.06007 14.7118ZM10.3452 12.9071H13.6171V13.786H10.3452V12.9071ZM17.4023 11.5079L17.3108 17.4399C17.3085 17.7212 17.0765 17.9485 16.7976 17.9485H14.953V11.7704C15.0937 11.7376 15.171 11.6063 15.2671 11.5173C15.3749 11.4353 15.4827 11.4751 15.5671 11.5923C15.6351 11.672 15.7312 11.7845 15.9116 11.7845C16.0241 11.7845 16.1038 11.7423 16.1648 11.6884C16.2585 11.611 16.3171 11.4774 16.4437 11.4728C16.5444 11.4681 16.6124 11.5782 16.678 11.6438C16.739 11.7095 16.8257 11.7845 16.978 11.7845C17.2148 11.7821 17.2757 11.6157 17.4023 11.5079ZM8.6085 17.8032C8.571 17.7845 8.52647 17.7892 8.49366 17.8149C7.68507 18.4126 6.84366 17.3321 6.66788 16.5165C6.40303 15.5485 6.89053 14.8946 7.746 14.8759C7.9171 14.8759 8.07413 14.9157 8.2171 14.9884C8.24757 15.0024 8.28272 15.0001 8.3085 14.9813C8.68819 14.6556 9.42413 14.679 9.77569 15.0212C10.0429 15.2813 10.1507 15.6962 10.139 16.1321C10.1202 16.9407 9.57178 18.2345 8.6085 17.8032ZM13.4296 9.4665L14.2874 9.52275L14.1702 11.2946C14.0905 11.3298 14.0319 11.3931 13.978 11.4587C13.7718 11.6978 13.6733 11.536 13.5093 11.3649C13.439 11.2923 13.2796 11.2431 13.1601 11.2806L13.2702 9.60479C13.2773 9.52275 13.3476 9.45947 13.4296 9.4665ZM12.2624 11.2735L12.4194 8.88994C12.4335 8.69072 12.539 8.5126 12.7077 8.41182C12.9327 8.27119 13.078 8.03447 13.0921 7.77432L13.1366 7.10635L13.8444 7.15322L13.7999 7.82119C13.7835 8.08604 13.896 8.3415 14.0976 8.50557C14.2499 8.62744 14.3319 8.81963 14.3202 9.0165L14.2991 9.31885L13.4413 9.2626C13.2468 9.25088 13.078 9.39619 13.064 9.59072C13.064 9.59072 12.9468 11.3767 12.9421 11.4235C12.6257 11.836 12.5694 11.3134 12.2624 11.2735ZM9.69132 11.5056C9.21553 10.1673 9.01163 8.23604 9.46632 8.0626C9.996 7.84229 11.578 10.2118 11.8358 11.4821C11.7327 11.6228 11.571 11.5993 11.4796 11.461C11.3015 11.2079 10.9733 11.2079 10.7929 11.461C10.678 11.6251 10.5233 11.6134 10.4179 11.461C10.3288 11.3438 10.2093 11.2618 10.0593 11.2712C9.8835 11.2806 9.78741 11.3813 9.69132 11.5056ZM13.9452 6.954L13.0616 6.89541L13.1108 6.01416L14.0015 6.07275L13.9452 6.954Z" fill="black"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_691_1431">
                                    <rect width="12" height="12" fill="white" transform="translate(6 6)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                                span Продукти
                            button(data-category="nature" data-marker)
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="24" height="24" rx="12" fill="white"/>
                                    <path d="M8.38659 13.3613C8.38659 13.9203 8.84134 14.375 9.40026 14.375C9.60883 14.375 9.80933 14.3121 9.97974 14.1932C9.98815 14.1873 9.99751 14.1842 10.0069 14.1814V13.2909C10.0069 12.6239 9.54372 12.269 9.34579 12.1173C9.34579 12.1173 9.26292 12.0515 9.32763 11.9718C9.37775 11.91 9.46007 11.9681 9.46007 11.9681C9.59408 12.0708 9.83712 12.2582 10.0069 12.5601V11.7141C10.0069 11.6622 10.0489 11.6201 10.1008 11.6201C10.1527 11.6201 10.1947 11.6622 10.1947 11.7141V16.0749C10.3163 16.005 10.4536 15.9613 10.599 15.9433V14.1069C10.5987 14.1024 10.5987 14.0981 10.599 14.0936V11.7141C10.599 11.6622 10.641 11.6201 10.6929 11.6201C10.7449 11.6201 10.7869 11.6622 10.7869 11.7141V13.1625C10.9516 12.8837 11.1883 12.6679 11.3443 12.5812C11.3893 12.5566 11.4467 12.5722 11.4722 12.6177C11.4973 12.663 11.481 12.7202 11.4357 12.7455C11.2165 12.8673 10.7869 13.3109 10.7869 13.7843V14.0613C10.9977 14.2632 11.2724 14.375 11.5659 14.375C12.1883 14.375 12.6948 13.8687 12.6948 13.2463C12.6948 13.1115 12.6711 12.9794 12.6247 12.8538C12.6135 12.8237 12.6185 12.7899 12.6379 12.7644C12.6574 12.7387 12.6895 12.7254 12.7203 12.7276C12.7428 12.7294 12.7656 12.7301 12.7887 12.7301C13.2478 12.7301 13.6213 12.3565 13.6213 11.8973C13.6213 11.5978 13.4592 11.3199 13.198 11.172C13.1673 11.1546 13.149 11.1216 13.1503 11.0863C13.1517 11.0511 13.1728 11.0198 13.2047 11.0049C13.5544 10.8433 13.7804 10.4898 13.7804 10.1044C13.7804 9.66343 13.4845 9.27124 13.0609 9.15054C13.0319 9.14229 13.0086 9.12064 12.9984 9.0924C12.9881 9.06396 12.9919 9.03241 13.009 9.00747C13.1334 8.8244 13.1992 8.61032 13.1992 8.38837C13.1992 7.78101 12.7052 7.28701 12.0979 7.28701C11.9251 7.28701 11.7594 7.3259 11.6059 7.40277C11.583 7.41413 11.5562 7.41579 11.5323 7.40716C11.5081 7.39854 11.4887 7.38038 11.4782 7.35708C11.2343 6.81154 10.6909 6.45898 10.0938 6.45898C9.25829 6.45898 8.57848 7.1388 8.57848 7.97435C8.57848 8.02755 8.58122 8.08019 8.58654 8.13192C8.58929 8.15852 8.58067 8.18475 8.56288 8.20456C8.54508 8.22437 8.51977 8.23557 8.49317 8.23557C7.74127 8.23557 7.13647 8.84035 7.13647 9.58382C7.13647 9.97765 7.30817 10.3508 7.60735 10.6074C7.62937 10.6263 7.64148 10.6544 7.64001 10.6833C7.63872 10.7123 7.62387 10.7391 7.60002 10.7558C7.30983 10.9587 7.13647 11.2913 7.13647 11.6451C7.13647 12.2435 7.62313 12.7301 8.22132 12.7301C8.29011 12.7301 8.3589 12.7237 8.42604 12.711C8.46309 12.7039 8.49923 12.7191 8.52032 12.7492C8.54142 12.7793 8.54307 12.8191 8.52454 12.8508C8.43429 13.0049 8.38659 13.1814 8.38659 13.3613Z" fill="black"/>
                                    <path d="M14.8946 16.8173C14.6916 16.8173 14.4968 16.8921 14.3462 17.0282C14.3264 17.0462 14.2998 17.0547 14.2728 17.0519C14.246 17.0488 14.2218 17.0345 14.2064 17.0125C14.0347 16.7676 13.754 16.6214 13.4556 16.6214C13.2085 16.6214 12.9766 16.7184 12.8031 16.8945C12.7835 16.9142 12.7563 16.9242 12.7283 16.922C12.7004 16.9197 12.6751 16.9052 12.6591 16.8822C12.5384 16.7094 12.3403 16.6062 12.1295 16.6062C11.98 16.6062 11.8344 16.6583 11.7192 16.7531C11.6953 16.7725 11.6636 16.7791 11.6344 16.7709C11.6049 16.7626 11.5812 16.7406 11.571 16.7118C11.4457 16.3572 11.1089 16.1191 10.7327 16.1191C10.2554 16.1191 9.86518 16.4923 9.84445 16.9686C9.8428 17.0026 9.82336 17.033 9.79309 17.0482C9.76282 17.0638 9.72688 17.0614 9.69844 17.0427C9.58507 16.9673 9.45281 16.9274 9.31634 16.9274C8.96868 16.9274 8.68309 17.1865 8.6355 17.5213H15.7012C15.6452 17.1245 15.3067 16.8173 14.8946 16.8173Z" fill="black"/>
                                    <path d="M16.4946 12.0693C16.4702 12.0528 16.4548 12.0256 16.4535 11.9961C16.452 11.9665 16.4645 11.9379 16.4874 11.9192C16.7266 11.7211 16.8638 11.4335 16.8638 11.1302C16.8638 10.5565 16.3788 10.0898 15.7826 10.0898C15.7559 10.0898 15.7269 10.0784 15.7091 10.0586C15.6913 10.0386 15.6792 10.0122 15.6821 9.98561C15.6865 9.94561 15.6887 9.90526 15.6887 9.86418C15.6887 9.21811 15.1425 8.69238 14.4711 8.69238C14.0835 8.69238 13.7269 8.8684 13.4971 9.16455C13.7856 9.3833 13.9683 9.728 13.9683 10.1043C13.9683 10.5088 13.759 10.8837 13.4238 11.0985C13.6647 11.2906 13.8092 11.5843 13.8092 11.8972C13.8092 12.4424 13.3794 12.8892 12.8411 12.9166C12.8688 13.0237 12.8827 13.1341 12.8827 13.2462C12.8827 13.6518 12.6981 14.0149 12.4087 14.2566C12.5209 14.6197 12.8729 14.879 13.2714 14.879C13.504 14.879 13.7208 14.7928 13.8889 14.6401V14.4343C13.8889 14.0876 13.5565 13.7352 13.3705 13.6353C13.3248 13.6107 13.3075 13.5538 13.3321 13.5081C13.3567 13.4625 13.4139 13.4454 13.4592 13.4698C13.579 13.5341 13.7549 13.6885 13.8889 13.8884V12.8059C13.8889 12.754 13.9309 12.712 13.9828 12.712C14.0347 12.712 14.0767 12.754 14.0767 12.8059V14.6782C14.0769 14.6821 14.0769 14.6857 14.0767 14.6895V16.6271C14.1584 16.6828 14.2338 16.7482 14.2986 16.8249C14.3218 16.8078 14.3471 16.7946 14.3715 16.7797V12.8059C14.3715 12.754 14.4135 12.712 14.4654 12.712C14.5173 12.712 14.5593 12.754 14.5593 12.8059V13.4126C14.6969 13.2009 14.8758 13.0645 14.9785 12.9886C15.0203 12.958 15.0806 12.9652 15.1116 13.007C15.1425 13.0486 15.1355 13.106 15.0939 13.1371L15.0902 13.1396C14.9313 13.2572 14.5593 13.5324 14.5593 14.0462V14.7329C14.5637 14.735 14.5685 14.7357 14.5727 14.7384C14.709 14.8304 14.8693 14.879 15.0364 14.879C15.4824 14.879 15.845 14.5302 15.845 14.1016C15.845 13.9643 15.8072 13.8293 15.7359 13.7112C15.7168 13.6795 15.7179 13.6397 15.739 13.6092C15.7601 13.5788 15.7975 13.5635 15.8333 13.5703C15.8863 13.58 15.9413 13.585 15.9971 13.585C16.4749 13.585 16.8638 13.2112 16.8638 12.7516C16.8638 12.4805 16.7259 12.2256 16.4946 12.0693Z" fill="black"/>
                                </svg>
                                span Природа

                    .section_benefits__content_right
                        .map
                            #map
                        //- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.750282050183!2d24.019950399999995!3d49.81092509999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7ec94a4a603%3A0x985f243c3797214!2z0YPQuy4g0J_QtdGA0YHQtdC90LrQvtCy0LrQsCwgMiwg0JvRjNCy0L7Qsiwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e1!3m2!1sru!2sua!4v1746640696309!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                .section_benefits__content(data-info="architectural_solution")
                    .section_benefits__content_left
                        p Цей проєкт про сучасну інтерпретацію традиційного для Львова житла галерейного типу. Зовнішні фасади виконані в лаконічному стилі з яскравими акцентами, а внутрішні — у світлих, спокійних тонах. Всі квартири з двосторонньою орієнтацією, де кухня виходить на галерею, а спальні — на вулицю або внутрішній двір. Perfect!
                        button 
                            span Завантажити презентацію
                            <svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_410_1741" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="8" height="9">
                                <path d="M8 0.5H0V8.5H8V0.5Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask0_410_1741)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.96134L1.36767 0.5H8V7.07613L6.48725 8.5V5.24331C6.48725 4.45061 6.49512 3.73248 6.51152 3.08825L1.19829 8.35152L0.145315 7.19973L5.45853 1.93671C4.82915 1.95329 4.12304 1.96134 3.34045 1.96134H0Z" fill="#2B2B2B"/>
                                </g>
                            </svg>
                    .section_benefits__content_right
                        .swiper.swiper_benefits_architectural_solution
                            .swiper-wrapper
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_1.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_1.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_1.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_1.png")
                            .swiper-button-benefits_architectural_solution-next.swiper-button-main-next.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg>
                            .swiper-button-benefits_architectural_solution-prev.swiper-button-main-prev.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg>
                .section_benefits__content(data-info="infrastructure")
                    .section_benefits__content_left
                        h3 Big Ben — це простір щоденного задоволення, де кожен куточок створений для насолоди життям.
                        p Тут чекає PopCorn Place з відкритим кінотеатром, Notting Chill з гамаками, Wembley для спортсменів, дитячі майданчики та Baskerville для чотирилапих друзів. Галереї зі зручними кріслами, зелені зони з фонтанчиками, дитячі майданчики та місця для бадмінтону — все для того, щоб кожен день feels like Friday, а сусіди ставали друзями вже з другого дня знайомства!
                    .section_benefits__content_right
                        img(src="../../assets/images/benefits/benefits_2.png" alt="map")
                .section_benefits__content(data-info="ecosystem")
                    .section_benefits__content_left
                        h3 У Big Ben вся інфраструктура для життя в кайф прямо на території. Все в кількох кроках від квартири — жодних клопотів, лише задоволення.
                        p На території розміщуються:
                        .section_benefits__content_text_wrapper
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Торговий центр з магазинами та сервісами
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Co-working для тих, хто хоче працювати поруч з домом
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Фудкорти й кафе для сніданків із друзями
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Спортивний комплекс та massage-room для активностей і відпочинку
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Дитячий садок — зручно, без довгих поїздок
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Game-room — для розвитку й дозвілля
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Бар — для відновлення і перезавантаження
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span Хімчистка — побутові послуги прямо під боком
                    .section_benefits__content_right
                       .swiper.swiper_benefits_ecosystem
                            .swiper-wrapper
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_3.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_3.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_3.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_3.png")
                            .swiper-button-benefits_ecosystem-next.swiper-button-main-next.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg>
                            .swiper-button-benefits_ecosystem-prev.swiper-button-main-prev.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg> 
                .section_benefits__content(data-info="security")
                    .section_benefits__content_left
                        h3 У Big Ben твоя безпека на британському рівні.
                        .section_benefits__content_text_wrapper
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Укриття royal class: 
                                    | просторе сховище в підземному паркінгу з генератором, опаленням, туалетами та дитячою ігровою зоною
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Двори без машин: 
                                    | повністю пішохідні простори для безпечних прогулянок
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Відеоспостереження 24/7: 
                                    | жодний куточок території не залишається без нагляду
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Освітлення по-британськи: 
                                    | людино-friendly система без сліпих зон, комфортна для очей 
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Анти-ковзаюче покриття: 
                                    | на всіх загальних зонах indoor i outdoor
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Smart Home від Ajax: 
                                    | отримай стартовий комплект безпеки (хаб, датчик руху, датчик відчинення та брелок із тривожною кнопкою) для подальшого розширення системи «розумного» будинку
                    .section_benefits__content_right
                       .swiper.swiper_benefits_security
                            .swiper-wrapper
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_4.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_4.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_4.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_4.png")
                            .swiper-button-benefits_security-next.swiper-button-main-next.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg>
                            .swiper-button-benefits_security-prev.swiper-button-main-prev.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg> 
                .section_benefits__content(data-info="energy_independence")
                    .section_benefits__content_left
                        h3 Енергозалежні
                        .section_benefits__content_text_wrapper
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Власний потужний генератор: 
                                    | забеспечує безперервну подачу води, роботу опаленні та ліфтів під час блекаутів
                            div 
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 11.75L0 0V12L12 11.75Z" fill="#EE1E04"/>
                                </svg>
                                span 
                                    strong Автономна котельня: 
                                    | незалежне теплопостачання з максимальним комфортом у будь-яку пору року
                    .section_benefits__content_right
                       .swiper.swiper_benefits_energy_independence
                            .swiper-wrapper
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_5.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_5.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_5.png")
                                .swiper-slide: img(src="../../assets/images/benefits/benefits_5.png")
                            .swiper-button-benefits_energy_independence-next.swiper-button-main-next.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg>
                            .swiper-button-benefits_energy_independence-prev.swiper-button-main-prev.swiper-button
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                                </svg> 