section.section_construction_new.construction_new(id="construction")
  .content
    .construction_new__title.section_title Хід будівництва
    .construction_new__filter
      select.select(data-construction-filter="month" data-lenis-prevent)
        option(value="6") Травень
        option(value="6") Червень
      select.select(data-construction-filter="year" data-lenis-prevent)
        option(value="2024") 2024
    .construction_new__slider.swiper-container(data-construction-slider)
        <div class="construction-navigation">
            .swiper-button-construction_bottom-next.swiper-button-main-next.swiper-button(data-construction-slider-prev)
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                </svg>
            .swiper-button-construction_bottom-prev.swiper-button-main-prev.swiper-button(data-construction-slider-next)
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.70711 13.7071C7.31658 14.0976 6.68342 14.0976 6.29289 13.7071L0.292894 7.70711C-0.0976309 7.31658 -0.0976308 6.68342 0.292894 6.29289L6.29289 0.292894C6.68342 -0.0976313 7.31658 -0.0976313 7.70711 0.292894C8.09763 0.683418 8.09763 1.31658 7.70711 1.70711L3.41421 6L15 6C15.5523 6 16 6.44772 16 7C16 7.55229 15.5523 8 15 8L3.41421 8L7.70711 12.2929C8.09763 12.6834 8.09763 13.3166 7.70711 13.7071Z" fill="white"/>
                </svg>
            //- <svg data-construction-slider-prev xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            //- <svg data-construction-slider-next xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
        </div>
        .swiper-wrapper
            each val in [1,2,3,4,5,6,6,6,6,6,6]
                .swiper-slide.construction-card(data-construction-card data-year="2024" data-month=val)
                    .construction-card__image
                        .construction-card__image-wrap
                            img(src="./assets/images/construction/construction.png", alt="")