
extends ../layout/main 
block variable
  - var page = "index_page" 

block meta
  title= 'BigBen'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
block header
  include ../includes/header.pug
block content
  .page__content
    include ../includes/section_top.pug
    include ../includes/section_about.pug
    include ../includes/section_video.pug
    include ../includes/section_planning.pug
    include ../includes/section_gallery.pug
    include ../includes/section_view.pug
    include ../includes/section_benefits.pug
    include ../includes/section_gallery_2.pug
    include ../includes/section_characteristics.pug
    include ../includes/section_parking.pug
    include ../includes/section_gallery_3.pug
    include ../includes/section_construction.pug
    include ../includes/section_construction_bottom.pug
    include ../includes/section_news.pug
    include ../includes/section_conditions.pug
    include ../includes/section_discount.pug
    include ../includes/section_doc.pug
    include ../includes/section_developer.pug
    include ../includes/popup.pug
    include ../includes/popup_doc.pug
block footer
  include ../includes/footer.pug



