$default-font: 'GTWalsheimPro-Light', normal;
$default-font-m: 'GTWalsheimPro-Medium', medium;
$default-font-b: 'GTWalsheimPro-Medium', bold;
$default-font3: 'SF Pro Display Bold', bold;
$default-font4: 'HalvarBreit Bd', normal;
$default-font5: 'SF Pro Display Thin', thin;

$background: #fff;
$black: #000000;
$white: #f0f1f8;

/*----------*/

$black: #000000;
$black_2: #2b2b2b;
$white: #fff;
$white_2: #e0e0e0;
$Ivory: #fef6f3;
$dark_gray: #5d5b5b;
$gray: #f1f3f6;
$gray_2: #f1f3f6;
$gray_3: #e5e5e5;
$dark_red: #5c0000;
$red: #ee1e04;
$red_2: #a40001;
$dark_beige: #ebc49d;
$beige: #ffdbbf;
$beige_2: #ffd8b2;
$beige_3: rgba(235, 196, 157, 0.5);

$padding: 0 max(16px, 9.375vw);
$padding-mobile: 0 16px;
$content_padding: 180px 0;
