.section_developer {
  position: relative;

  &__linear_gradient {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    transform: translate(0, 50%);
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -200px;
      right: -200px;
      display: block;
      height: max(86px, 14vw);
      border-radius: 2260px;
      background: linear-gradient(
        174deg,
        rgba(0, 0, 0, 0.75) 32.58%,
        #000 51.92%,
        rgba(27, 28, 33, 0.75) 85.3%
      );

      filter: blur(27.5px);
    }
  }
  &__background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__background_top {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 1%;
  }
  &__wrapper {
    position: relative;
    z-index: 1;
    padding-top: max(40px, 6.25vw);
    padding-bottom: max(256px, 18.75vw);
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: max(24px, 2.08vw);
    color: $white;
    img {
      width: 120px;
      height: 120px;
    }
  }
  &__subtitle {
    margin-bottom: max(24px, 2.08vw);
    font-family: $default-font-b;
    font-size: 20px;
    color: $white;
  }
  &__content_text_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 492px;
    width: auto;
    margin-bottom: max(32px, 3.33vw);
    div {
      display: flex;
      align-items: start;
      justify-content: start;
      gap: 10px;
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 110%;
      color: $white;
      svg {
        width: 12px;
        height: 12px;
        margin-top: 6px;
      }
      span {
        flex: 1;
      }
    }
  }
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 198px;
    height: 46px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: $default-font-m;
    color: $black_2;
    background-color: $gray;
    cursor: pointer;
    svg {
      width: 8px;
      height: 8px;
    }
  }
  &__button:hover {
    background-color: $gray_3;
  }
}

@media (max-width: 480px) {
  .section_developer {
    &__title {
      img {
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &__button {
      width: 100%;
    }
  }
}
