.construction_new {
  position: relative;
  z-index: 2;
  padding-bottom: calc(max(40px, 8.33vw));
  background-color: $white;
  overflow: hidden;

  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: max(24px, 2.08vw);
    color: $black_2;
  }

  &__subtitle {
    margin-bottom: 24px;
    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__table {
    padding: 32px;
    border: 1px solid #e4e4e4;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 48px;

    @include to(767px) {
      padding: 14px;
    }

    &-title {
      margin-bottom: 8px;
    }
  }

  &__progress-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include to(767px) {
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }

    &-title {
      width: 20%;

      @include to(767px) {
        width: 80%;
      }
    }

    &-progress {
      width: 80%;
      display: flex;
      align-items: center;
      gap: 6px;

      @include to(767px) {
        margin-top: 4px;
        width: 100%;
      }

      & > :first-child {
        text-align: right;
        width: 5ch;

        @include to(767px) {
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &-bar {
        height: 8px;
        width: calc(100% - 6px - 5ch);
        background: $gray;
        margin-left: auto;
        position: relative;

        @include to(767px) {
          width: 100%;
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          //   width: var(--progress, 50%);
          height: 100%;
          //   background: var(--blue, #6dace2);
        }
      }
    }
  }

  &__progress-item ~ &__progress-item {
    margin-top: 8px;
  }

  &__filter {
    margin-bottom: 24px;

    @include from(768px) {
      .select ~ .select {
        margin-left: 24px;
      }
    }

    @include to(767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .select {
        flex: 0.4;
      }

      // .select~.select {
      //     margin-top: 12px;
      // }
    }
  }

  &__slider {
    user-select: none;
    position: relative;
    overflow: hidden;

    .construction-navigation {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      pointer-events: none;
      z-index: 2;
      padding-left: 16px;
      padding-right: 16px;

      @media screen and (max-width: 767px) {
        padding-left: 12px;
        padding-right: 12px;
      }
      .swiper-button-disabled {
        opacity: 0;
      }
      .swiper-button {
        pointer-events: all;
        cursor: pointer;
        &.swiper-button-disabled {
          pointer-events: auto;
        }
      }
    }
  }
  .select {
    background-color: $beige;
    padding: 13px 16px 13px 16px;
    border-radius: 4px;
    border: 1px solid $beige_2;
    color: $black_2;
    font-family: $default-font;
    position: relative;
    cursor: pointer;

    &:focus-within {
      outline: none;
      border: 1px solid $beige_2;
    }

    &::picker-icon {
      color: $dark_gray;
      transition: 0.4s rotate;
      margin-left: 10px;
    }

    &:open::picker-icon {
      rotate: 180deg;
    }

    option {
      padding: 4px 16px;
      color: $black_2;
      border: 1px solid transparent;
    }

    option::checkmark {
      display: none;
    }

    option:hover {
      color: $dark_gray;
      cursor: pointer;
    }
  }

  ::picker(select) {
    appearance: base-select;
  }

  ::picker(select) {
    border: none;
  }

  select,
  ::picker(select) {
    appearance: base-select;
  }

  select {
    flex: 1;
  }

  select {
    transition: 0.4s;
  }

  select::picker-icon {
    color: $black_2;
    transition: 0.4s rotate;
  }

  select:open::picker-icon {
    rotate: 180deg;
  }

  select:open {
    background-color: $beige;
    border-bottom: 1px solid $beige_2 !important;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $beige;
    }
  }

  select:open option {
    background-color: $beige;
    border-left-color: $beige_2;
    border-right-color: $beige_2;

    select:open option:last-child {
      border-bottom-color: $beige_2;
    }

    ::picker(select) {
      border: none;
    }

    option {
      display: flex;
      justify-content: flex-start;
      gap: 20px;

      //   border: 2px solid #ddd;
      background: transparent;
      padding: 10px;
      transition: 0.4s;
    }

    option:hover,
    option:focus {
      background: $white;
    }

    ::picker(select) {
      opacity: 0;
      transition: all 0.4s allow-discrete;
    }

    ::picker(select):popover-open {
      opacity: 1;
    }

    ::picker(select) {
      top: calc(anchor(bottom) + 1px);
      //   left: anchor(10%);
    }
  }
}

.construction::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  display: block;
  width: 100%;
  height: 8px;
  background-color: $white;
}

.construction-card {
  &__top {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    font-family: $default-font;
    font-size: 14px;
    // color: rgba(41, 41, 37, 0.2);

    @include to(767px) {
      font-size: 12px;
      margin-bottom: 12px;
    }

    &:before {
      content: '';
      display: block;
      height: 1px;
      //   background-color: var(--blue);
      flex-grow: 1;
      margin-right: 24px;
    }
  }

  &__image {
    border-radius: 8px;
    overflow: hidden;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
    &-wrap {
      position: relative;
      padding-bottom: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(109, 172, 226, 0.29) 0%, #6dace2 100%);
  }
}
