.section_conditions {
  position: sticky !important;
  top: 0;
  height: 100vh;
  background: $white;
  &__wrapper {
    display: flex;
    gap: max(30px, 3.125vw);
    padding-top: 130px;
    padding-bottom: max(40px, 8.33vw);
  }
  &__title {
    margin-bottom: max(24px, 2.08vw);
    color: $black_2;
  }
  &__subtitle {
    margin-top: max(12px, 1.25vw);
    margin-bottom: 4px;
    font-size: max(21px, 1.25vw);
    font-family: $default-font-m;
  }
  &__content_text_wrapper {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 0;
      border-bottom: 1px solid $white_2;
      font-size: max(16px, 1.25vw);
      span {
        flex: 1;
        a {
          text-decoration: underline;
          color: inherit;
        }
      }
    }
  }
  &__left {
    width: 50%;
  }
  &__right {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1100px) {
  .section_conditions {
    &__wrapper {
      padding-top: 80px;
    }
  }
}

@media (max-width: 1024px) {
  .section_conditions {
    &__wrapper {
      flex-direction: column;
    }
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }
  }
}

@media (max-height: 500px) {
  .section_conditions {
    position: relative !important;
    height: auto;
  }
}
