.index_page .section_top__sold {
  display: none;
}

.index_page .not_index {
  display: none !important;
}

.section_top {
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 983px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  &__sold {
    position: absolute;
    z-index: 5;
    top: 208px;
    right: 160px;
    width: 200px;
    height: 180px;
    @media (max-width: 768px) {
      top: 92px;
      right: max(16px, 9.375vw);
      width: 100px;
      height: 90px;
    }
    @media (max-width: 480px) {
      right: 6px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__sold_content {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span:first-child {
      font-family: $default-font-m;
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    span:last-child {
      color: #fff;
      font-family: $default-font-b;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 24px;
      }
    }
  }
  &__title {
    position: absolute;
    bottom: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $white;
    font-family: 'GT-Walsheim-Bold', bold;
    font-size: max(36px, 4.16vw);
    line-height: 100%;
    text-transform: uppercase;
  }
  &__title_bottom {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    img {
      width: 120px;
      height: 120px;
    }
    div a {
      display: flex;
      align-items: center;
      gap: 8px;
      min-height: 58px;
      padding: 0 16px;
      border-radius: 8px;
      font-family: $default-font-m;
      font-size: 18px;
      text-transform: none;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      color: $white;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  a {
    cursor: pointer;
  }
  &__bottom_buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: end;
    .bottom_button {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: max(12px, 1.25vw);
      cursor: pointer;
      svg {
        transition: all 1s ease-out;
      }
    }
    .bottom_button:hover {
      svg {
        transform: scale(1.1);
      }
    }
    .bottom_button_title {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: max(16px, 1.35vw) max(16px, 1.14vw) 0 max(16px, 1.14vw);
      font-family: $default-font-m;
      font-size: max(21px, 1.66vw);
      span {
        width: 80%;
      }
      svg {
        width: max(16px, 1.56vw);
        height: max(16px, 1.56vw);
      }
    }
    .bottom_button_text {
      display: flex;
      flex-direction: column;
      padding: 0 max(16px, 1.14vw) max(16px, 1.35vw) max(16px, 1.14vw);
      font-size: 16px;
      line-height: 140%;
    }
    .bottom_button_left {
      width: 24vw;
      height: max(190px, 11vw);
      color: $white;
      background-color: $red;
      transition: all 1s ease-out;
      svg path {
        fill: $white;
      }
      img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .bottom_button_left:hover {
      background-color: $red_2;
    }
    .bottom_button_center {
      width: 22.7vw;
      height: max(146px, 9.32vw);
      color: $dark_red;
      background-color: $dark_beige;
      transition: all 1s ease-out;
      svg path {
        fill: $dark_red;
      }
    }
    .bottom_button_center:hover {
      background-color: $beige_2;
    }
    .bottom_button_right {
      width: 22.7vw;
      height: max(100px, 7.03vw);
      color: $black;
      background-color: $white;
      transition: all 1s ease-out;
      svg path {
        fill: $black;
      }
    }
    .bottom_button_right:hover {
      background-color: $gray_2;
    }
  }
}

@media (max-width: 1500px) {
  .section_top {
    min-height: 830px;
  }
}

@media (max-width: 1024px) {
  .section_top {
    &__bottom_buttons {
      width: 100%;
    }
    .bottom_button_left {
      width: 33.333%;
    }
    .bottom_button_center {
      width: 33.333%;
    }
    .bottom_button_right {
      width: 33.333%;
    }
  }
}
@media (max-width: 768px) {
  .section_top {
    &__title {
      bottom: 360px;
    }
    min-height: 800px;
    &__title_bottom {
      width: 100%;
      img {
        position: absolute;
        right: max(16px, 9.375vw);
        top: 0;
        width: 90px;
        height: 90px;
      }
      div {
        width: 100%;
        min-height: 46px;
      }
      p {
        font-size: 15.5px;
      }
    }
    &__bottom_buttons {
      flex-direction: column;
    }
    &__bottom_buttons {
      width: 100%;
    }
    .bottom_button_left {
      width: 100%;
      height: 100px;
    }
    .bottom_button_center {
      width: 100%;
      height: 134px;
    }
    .bottom_button_right {
      width: 100%;
      height: 90px;
    }
  }
}
